$xs: "screen and (max-width: 767px)";
// $sm: "screen and (min-width: 576px)";
$md: "screen and (min-width: 768px)";
$lg: "screen and (min-width: 992px)";
$xl: "screen and (min-width: 1200px)";
$xxl: "screen and (min-width: 1400px)";

.accommodation-page {
    background-color: #fbf6e9;
    font-family: "sukhumvit";
    // padding-top: 80px;
    color: #383838;

    .page-title-box {
        margin: 0 auto;
        display: flex;
        position: relative;
        text-align: center;
        font-weight: bold;
        justify-content: center;
        font-size: 24px;
        line-height: 32px;
        height: 92px;
        width: 320px;
        // width: 100%;
        @media #{$md} {
            width: 690px;
            height: 139px;
            font-size: 32px;
            line-height: 40px;
        }
        @media #{$xxl} {
            font-size: 64px;
            line-height: 88px;
            height: 500px;
            // height:  254px;
            width: 1170px;
            max-width: 1440;
            margin-bottom: -200px;
        }
        .bg-title {
            position: absolute;
            @media #{$xs} {
                width: 170px;
                height: 200px;
                left: -20px;
            }
            @media #{$md} {
                width: 219px;
                height: 258px;
                left: -40px;
            }
            @media #{$xxl} {
                width: 405px;
                height: 496px;
                left: -135px;
                top: 0;
            }
        }
        .title-textbox {
            background-image: url("/img/accommodation/title-textbox.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
            height: 68px;
            // left: 190px;
            top: 11px;
            right: 0;
            @media #{$md} {
                width: 240px;
                height: 104px;
                top: 32px;
            }
            @media #{$xxl} {
                width: 470px;
                height: 216px;
                top: 38px;
                right: 0px;
                // left: 0;
            }
        }
    }
    .accommodation-column {
        display: flex;
        flex-direction: column;
        // min-height: 400px;
        min-height: 100%;
        // position: relative;
        @media #{$md} {
            // min-height: 800px;
        }
        .type-button {
            
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            z-index: 2;
            margin: 0 auto;
            width: 100%;
            margin-bottom: 16px;
            margin-top: 30px;
            max-width: 360px;
            @media #{$md} {
                margin-top: 24px;
                max-width: 690px;
                margin-bottom: 23px;
            }
            @media #{$xxl} {
                margin-top: 0;
                max-width: 1170px;
                margin-bottom: 40px;
            }
            .catagory{
                display: none;
                @media #{$xxl} {
                    display: block;
                    font-weight: normal;
                    line-height: 32px;
                    margin-right: 24px;
                    font-size: 24px;
                }
            }
            .catagory-select{
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                width: 190px;
                padding: 5px 35.5px 5px  5px;
                height: 32px;
                box-shadow: none;
                background-image: url('/img/accommodation/catagory-arrow.png');
                background-size: contain;
                background-position-x: 155px;
                background-repeat: no-repeat;
                appearance: none;
                border: 2px solid #383838;
                border-radius: 8px;
                background-color: white;
                option{
                    text-align: center;
                    height: 20px;
                    @media #{$md} {
                        height: 32px;
                    }
                }
                @media #{$md} {
                    padding: 8px  47px 8px 8px;
                    width: 290px;
                    // height: 48px;
                    height: 45px;
                    border-radius: 10px;
                    background-position-x: 240px;
                    border: 3px solid #383838;
                }
                @media #{$xxl} {
                    padding: 5px  47px 5px 5px;
                    padding-right: 47px;
                    width: 290px;
                    font-size: 24px;
                    line-height: 32px;
                }
            }
            .accom-tab {
                background-image: url("/img/accommodation/type-button.png");
                display: flex;
                cursor: pointer;
                justify-content: center;
                align-items: center;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;

                @media #{$xs} {
                    width: 65px;
                    height: 24px;
                    font-size: 16px;
                    line-height: 16px;
                    padding-top: 4px;
                    margin-right: 20px;
                }
                @media #{$md} {
                    width: 90px;
                    height: 32px;
                    font-size: 16px;
                    line-height: 16px;
                    margin-right: 30px;
                }
                @media #{$xxl} {
                    width: 170px;
                    margin-right: 30px;
                    height: 56px;
                    padding-top: 4px;
                    span {
                        font-size: 32px;
                        line-height: 40px;
                    }
                }
            }
            .accom-tab-active {
                background-image: url("/img/accommodation/type-button-active.png");
                display: flex;
                align-items: center;
                justify-content: center;
                background-position: center;
                background-repeat: no-repeat;

                background-size: contain;
                @media #{$xs} {
                    width: 65px;
                    height: 24px;
                    font-size: 16px;
                    line-height: 16px;
                    padding-top: 4px;
                    margin-right: 20px;
                }
                @media #{$md} {
                    width: 90px;
                    height: 32px;
                    font-size: 16px;
                    line-height: 16px;
                    margin-right: 30px;
                }
                @media #{$xxl} {
                    width: 170px;
                    height: 56px;
                    padding-top: 4px;
                    margin-right: 30px;
                    span {
                        font-size: 32px;
                        line-height: 40px;
                    }
                }
                cursor: pointer;
            }
            .boat-tab {
                cursor: pointer;
                background-image: url("/img/accommodation/type-button.png");
                display: flex;
                justify-content: center;
                align-items: center;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                @media #{$xs} {
                    width: 65px;
                    height: 24px;
                    font-size: 16px;
                    line-height: 16px;
                    padding-top: 4px;
                }
                @media #{$md} {
                    width: 90px;
                    height: 32px;
                    font-size: 16px;
                    line-height: 16px;
                }
                @media #{$xxl} {
                    width: 170px;
                    height: 56px;
                    padding-top: 4px;
                    span {
                        font-size: 32px;
                        line-height: 40px;
                    }
                }
            }
            .boat-tab-active {
                cursor: pointer;
                background-image: url("/img/accommodation/type-button-active.png");
                display: flex;
                align-items: center;
                justify-content: center;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                @media #{$xs} {
                    width: 65px;
                    height: 24px;
                    font-size: 16px;
                    line-height: 16px;
                    padding-top: 4px;
                }
                @media #{$md} {
                    width: 90px;
                    height: 32px;
                    font-size: 16px;
                    line-height: 16px;
                }
                @media #{$xxl} {
                    width: 170px;
                    height: 56px;
                    padding-top: 4px;
                    span {
                        font-size: 32px;
                        line-height: 40px;
                    }
                }
            }
        }
        .accommodation-list {
            margin: auto;
            display: flex;
            // display: none;
            flex-wrap: wrap;
            justify-content: center;
            width: 320px;
            @media #{$md} {
                width: 690px;
            }
            @media #{$xxl} {
                width: 1170px;
            }
        }
        .accommodation-item {
            cursor: pointer;
            background: #fffdf8;
            display: flex;
            position: relative;
            flex-direction: column;
            &:nth-last-child(1){
                margin-right: 0;
            }
            @media #{$xs} {
                width: 150px;
                margin-right: 20px;
                height: 200px;
                flex: 0 0 calc((100% - 20px) / 2);
                padding: 7px 7px 0;
                margin-bottom: 16px;
                border: 2px solid #383838;
                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
            @media #{$md} {
                width: 220px;
                height: 280px;
                margin-right: 15px;
                margin-bottom: 24px;
                flex: 0 0 calc((100% - 30px) / 3);
                padding: 14.5px;
                border: 3px solid #383838;
                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
            @media #{$xxl} {
                border: 4px solid #383838;
                width: 370px;
                height: 472px;
                margin: 0 30px 42px 0;
                padding: 22px;
                flex: 0 0 calc((100% - 60px) / 3);
                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
            .accommodation-name {
                color: #383838;
                white-space: pre;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;

                margin-top: 7px;
                @media #{$md} {
                    width: 188px;
                    font-size: 16px;
                    line-height: 24px;
                    margin-top: 12px;
                }
                @media #{$xxl} {
                    margin-top: 22px;
                    font-size: 32px;
                    line-height: 48px;
                    width: 318px;
                }
            }
            .price-box {
                display: flex;
                align-items: center;
                // width: 200px;

                span {
                    font-size: 16px;
                    line-height: 24px;
                    color: #757575;
                    height: 24px;
                    @media #{$md} {
                        font-size: 16px;
                        line-height: 24px;
                    }
                    @media #{$xxl} {
                        height: 32px;
                        margin-left: 8px;
                        font-size: 24px;
                        line-height: 32px;
                    }
                }
            }

            img {
                width: 134px;
                height: 134px;
                object-fit: cover;
                border-radius: 8px;
                @media #{$md} {
                    width: 188px;
                    height: 188px;
                }
                @media #{$xxl} {
                    object-fit: cover;
                    border-radius: 16px;
                    width: 322px;
                    height: 322px;
                }
            }
            .icon-b {
                display: none;
                width: 24px;
                height: 24px;
                @media #{$xxl} {
                    display: block;
                }
            }
            .boat-house-tag {
                position: absolute;
                text-align: center;
                right: 0;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                width: 52px;
                height: 32px;
                background: #fffdf8;
                border-left: 2px solid #383838;
                border-bottom: 2px solid #383838;
                font-size: 12px;
                @media #{$xxl} {
                    font-size: 24px;
                    width: 104px;
                    height: 64px;
                    border-bottom: 4px solid #383838;
                    border-left: 4px solid #383838;
                }
            }
        }
        .accommodation-item:hover {
            background-color: #e1d3b6;
        }
    }
    .accom-column-box{
        display: flex;
        flex-direction: column;
    }
    .load-content-text{
        cursor: pointer;
        font-weight: bold;
        align-self: center;
        text-align: center;
        justify-content: center;
        // display: flex;
        margin: 0 auto;
        text-decoration: underline;
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 24px;
        width: auto;
        // display: none;
        max-width: 120px;
        @media #{$xxl} {
            max-width: 200px;
            margin-bottom: 0;
            font-size: 32px;
            line-height: 40px;
            width: 150px;
            height: 40px;
        }
    }
}


.backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.popup-fixed-box {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
}

.accommodation-popup {
    display: flex;
    height: auto;
    width: 95%;
    max-width: 320px;
    max-height: 95%;
    border: 2px solid #383838;
    border-radius: 8px;
    z-index: 3;
    background-color: #fbf6e9;
    position: relative;
    justify-content: center;
    font-family: "sukhumvit";
    margin: auto;
    padding: 30px 0 24px;
    @media #{$md} {
        // padding: 40px 60px;
        border-radius: 16px;
        max-width: 690px;
        border: 4px solid #383838;
    }
    @media #{$xxl} {
        padding: 30px 20px 24px;
        margin: 40px auto;
        max-width: 1170px;
        max-height: 832px;
        padding: 40px 0;
    }
    .popup-close-icon {
        position: absolute;
        width: 16px;
        height: 16px;
        right: 8px;
        top: 8px;
        @media #{$md} {
            width: 32px;
            height: 32px;
            top: 24px;
            right: 24px;
        }
        @media #{$xxl} {
            top: 20px;
            right: 24px;
        }
    }
    .accommodation-flexbox {
        overflow-y: auto;
        overflow-x: hidden; // hidden
        display: flex;
        // overflow-y: auto;
        flex-direction: column;
        // margin: auto;
        width: 100%;
        height: auto;
        padding: 0 20px ;
        @media #{$md} {
            padding: 0 60px;
        }
        @media #{$xxl} {
            max-height: 800px;
        }
    }
    .popup-name-box {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        span {
            &:nth-child(1) {
                font-weight: bold;
                text-align: center;
                color: #383838;
                font-size: 16px;
                line-height: 24px;
                @media #{$md} {
                    margin-top: 8px;
                    font-size: 40px;
                    line-height: 56px;
                }
                @media #{$xxl} {
                    margin-top: 12px;
                    font-size: 48px;
                    line-height: 56px;
                    margin-bottom: 8px;
                }
            }
            &:nth-child(2) {
                color: #757575;
                font-size: 16px;
                line-height: 24px;

                margin-bottom: 8px;
                @media #{$md} {
                    margin-bottom: 16px;
                    font-size: 24px;
                    line-height: 32px;
                }
                @media #{$xxl} {
                    font-size: 24px;
                    line-height: 32px;
                }
            }
        }
    }
    .row-box {
        display: flex;
        // overflow-x: hidden;
        flex-direction: column;
        margin-bottom: 8px;
        @media #{$md} {
            align-items: center;
        }
        @media #{$xxl} {
            align-items: initial;
            // padding: 0 20px;
            margin-top: 40px;
            flex-direction: initial;
        }
        .image-box {
            width: 280px;
            height: 256px;
            position: relative;
            margin-bottom: 16px;
            @media #{$md} {
                width: 570px;
                height: 448px;
                margin-bottom: 28px;
            }
            @media #{$xxl} {
                margin-right: 40px;
                width: 485px;
                height: 504px;
                margin-bottom: 0;
            }
            .big-image {
                width: 280px;
                height: 240px;
                border-radius: 8px;
                object-fit: fill;
                @media #{$md} {
                    width: 570px;
                    height: 448px;
                }
                @media #{$xxl} {
                    width: 485px;
                    height: 406px;
                    border-radius: 16px;
                    margin-bottom: 8px;
                }
            }
            .no-image {
                object-fit: cover;
                width: 280px;
                height: 240px;
                border-radius: 8px;
                @media #{$md} {
                    width: 100%;
                    height: 100%;
                }
                @media #{$xxl} {
                    width: 485px;
                    height: 509px;
                    border-radius: 16px;
                }
            }
            .image-dots {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 8px;
                width: 100%;
                margin-top: 8px;
                @media #{$xxl} {
                    display: none;
                }
                .dot {
                    border-radius: 50%;
                    margin-right: 8px;
                    width: 4px;
                    height: 4px;
                    background: #757575;
                }
                .active-dot {
                    border-radius: 50%;
                    margin-right: 8px;
                    width: 4px;
                    height: 4px;
                    background: #383838;
                }
            }
            .image-list {
                display: flex;
                overflow-y: auto;
                width: 485px;
                img {
                    object-fit: cover;
                    display: none;
                    @media #{$xxl} {
                        display: flex;
                        width: 90px;
                        margin-right: 8px;
                        height: 90px;
                    }
                }
            }
            .prev,
            .next {
                cursor: pointer;
                position: absolute;
                top: 45%;
                width: auto;
                padding: 16px;
                color: black;
                font-weight: bold;
                font-size: 20px;
                border-radius: 0 3px 3px 0;
                user-select: none;
                -webkit-user-select: none;
                text-decoration: none;
                margin-top: -20px;
                // display: none;
                display: none;
                @media #{$md} {
                    // display: block;
                    top: 50%;
                }
                @media #{$xxl} {
                    top: 40%;
                }
            }
            .next {
                right: 0;
                border-radius: 3px 0 0 3px;
            }
            .prev:hover {
                background-color: rgba(0, 0, 0, 0.8);
                color: wheat;
            }
            .next:hover {
                background-color: rgba(0, 0, 0, 0.8);
                color: wheat;
            }
        }
        .detail-box {
            position: relative;
            display: flex;
            color: #383838;
            flex-direction: column;
            width: 280px;
            height: 100%;
            // height: 241px;
            @media #{$md} {
                width: 570px;
            }
            @media #{$xxl} {
                width: 485px;
                height: 504px;
            }
        }
        .information-box {
            width: 280px;
            height: auto;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 16px;
            @media #{$md} {
                width: 570px;
                font-size: 24px;
                line-height: 32px;
            }
            @media #{$xxl} {
                width: 485px;
                height: 128px;
                margin-bottom: 24px;
            }
        }
        .price-row-box {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 24px;
            @media #{$md} {
                flex-direction: column;
            }
            @media #{$xxl} {
                flex-direction: column;
                margin-bottom: 0;
            }
        }
        .popup-price-box {
            // width: 170px;
            display: flex;
            align-items: center;
            height: 16px;
            @media #{$md} {
                height: 32px;
                margin-bottom: 24px;
            }
            @media #{$xxl} {
                height: 32px;
            }
            img {
                width: 16px;
                height: 16px;
                @media #{$md} {
                    width: 32px;
                    height: 32px;
                }
            }
            span {
                font-size: 16px;
                line-height: 16px;
                font-weight: bold;
                margin-left: 8px;
                @media #{$md} {
                    font-size: 24px;
                    font-weight: 600;
                }
            }
        }
        .breakfast-box {
            display: flex;
            font-weight: 600;
            color: #383838;
            @media #{$md} {
                margin-bottom: 32px;
                line-height: 32px;
                font-size: 24px;
            }
            @media #{$xxl} {
                margin-bottom: 24px;
            }
            .breakfast {
                display: flex;
                align-items: center;
                height: 16px;
                @media #{$md} {
                    height: 32px;
                }
            }
            img {
                width: 16px;
                height: 16px;
                margin-left: 10px;
                @media #{$md} {
                    margin-left: 0;
                    width: 32px;
                    height: 32px;
                }
            }
            span {
                margin-left: 8px;
            }
        }
        .service-box {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            bottom: 0;

            align-content: flex-start;
            justify-content: flex-start;
            width: 280px;
            height: 100%;
            // height: 100% ;
            background-color: rgba(225, 211, 182, 0.5);
            border-radius: 8px;
            padding: 16px 2px 15px;
            @media #{$md} {
                width: 570px;
                height: 240px;
                padding: 32px 21px;
                // justify-content: center;
            }
            @media #{$xxl} {
                align-self: flex-end;
                justify-content: flex-start;
                width: 485px;
                height: 240px;
                padding: 32px 37px;
                border-radius: 16px;
            }

            .icon-box {
                display: flex;
                text-align: center;
                align-items: center;
                // flex-wrap: wrap;
                flex-direction: column;
                flex: 0 0 calc((100%) / 3);
                width: 94px;
                // margin-bottom: 8px;
                margin-bottom: 24px;
                height: 72px;
                @media #{$md} {
                    flex: 0 0 calc((100% - 156px) / 4);
                    margin-right: 52px;
                    margin-bottom: 16px;
                    height: 80px;
                    &:nth-child(4n) {
                        margin-right: 0;
                    }
                }
                @media #{$xxl} {
                    flex: 0 0 calc((100%) / 4);
                    margin-right: 0;
                    // max-height: 48px;
                    width: 121px;
                }
                img {
                    width: 40px;
                    height: 40px;
                    margin-bottom: 8px;
                    @media #{$md} {
                        width: 48px;
                        height: 48px;
                    }
                }
                span {
                    font-size: 14px;
                    line-height: 24px;
                    @media #{$xxl} {
                        font-size: 16px;
                    }
                    color: #383838;
                }
            }
        }
    }
    .contact-box {
        display: flex;
        height: 100%;
        // margin-top: 40px;
        width: 280px;
        flex-direction: column;

        align-items: flex-start;
        justify-content: flex-start;
        margin: 17px 0 24px;
        @media #{$md} {
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            margin: 40px 0 auto;
            flex-direction: row;
        }
        .contact-item {
            align-items: center;
            display: flex;
            justify-content: center;
            color: #383838;

            display: flex;
            justify-content: center;
            margin: 0 0 12px;
            @media #{$md} {
                margin: 0 24px 0;
            }
            img {
                width: 16px;
                height: 16px;
                @media #{$md} {
                    height: 24px;
                    width: 24px;
                }
                vertical-align: middle;
            }
            span {
                font-size: 16px;
                line-height: 16px;

                width: 100%;
                margin-left: 8px;
                @media #{$md} {
                    font-size: 24px;
                    line-height: 32px;
                }
            }
            .fb-with-link {
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                    font-weight: bolder;
                }
            }
        }
    }
}
