.accommodation-page {
    background-color: #FBF6E9;
    font-family: "sukhumvit";
    // padding-top: 80px;
    color: #383838;

    .page-title-box {
        width: 1170px;
        max-width: 1440;
        margin: 0 auto;
        height: 508px;
        display: flex;
        margin-bottom: -200px;
        position: relative;
        text-align: center;
        font-size: 64px;
        font-weight: bold;
        line-height: 88px;
        justify-content: center;
        .bg-title {
            position: absolute;
            top: 0;
            left: -135px;
        }
        .title-textbox {
            background-image: url('/img/accommodation/title-textbox.png');
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 470px;
            height: 216px;
            top: 38px;
            right: 0px;
        }
    }
    .accommodation-column {
        display: flex;
        flex-direction: column;
        // position: relative;
        .type-button {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 40px;
            z-index: 2;
            // margin-top: 294px;
            .accom-tab {
                background-image: url('/img/accommodation/type-button.png');
                display: flex;
                cursor: pointer;
                justify-content: center;
                align-items: center;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin-right: 30px;
                width: 170px;
                height: 56px;
            }
            .accom-tab-active {
                background-image: url('/img/accommodation/type-button-active.png');
                display: flex;
                align-items: center;
                justify-content: center;
                background-position: center;
                background-repeat: no-repeat;
                margin-right: 30px;
                background-size: cover;
                width: 170px;
                height: 56px;
                cursor: pointer;
            }
            .boat-tab {
                cursor: pointer;
                background-image: url('/img/accommodation/type-button.png');
                display: flex;
                justify-content: center;
                align-items: center;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 170px;
                height: 56px;
            }
            .boat-tab-active {
                cursor: pointer;
                background-image: url('/img/accommodation/type-button-active.png');
                display: flex;
                align-items: center;
                justify-content: center;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 170px;
                height: 56px;
            }
        }
        .accommodation-list {
            margin: auto;
            width: 1170px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .accommodation-item {
            cursor: pointer;
            width: 370px;
            height: 472px;
            background: #FFFDF8;
            border: 4px solid #383838;
            margin: 0 30px 42px 0;
            display: flex;
            position: relative;
            flex-direction: column;
            padding: 22px;
            flex: 0 0 calc(( 100% - 60px)/3);
            .accommodation-name {
                margin-top: 22px;
                font-size: 32px;
                line-height: 48px;
                color: #383838;
                width: 318px;
                white-space: pre;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: bold;
            }
            .price-box {
                display: flex;
                align-items: center;
                // width: 200px;
                height: 32px;
                span {
                    margin-left: 8px;
                    font-size: 24px;
                    line-height: 32px;
                    color: #757575;
                }
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
            img {
                width: 322px;
                height: 322px;
                object-fit: cover;
                border-radius: 16px;
            }
            .icon-b {
                width: 24px;
                height: 24px;
            }
            .boat-house-tag {
                position: absolute;
                width: 104px;
                height: 64px;
                text-align: center;
                background: #FFFDF8;
                border-bottom: 4px solid #383838;
                border-left: 4px solid #383838;
                right: 0;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                font-weight: bold;
            }
        }
        .accommodation-item:hover {
            background-color: #E1D3B6;
        }
    }
    .load-content-text {
        cursor: pointer;
        font-size: 32px;
        font-weight: bold;
        align-self: center;
        line-height: 40px;
        text-align: center;
        margin: auto;
        text-decoration: underline;
        width: 122px;
        height: 40px;
    }
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.popup-fixed-box {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
}

.accommodation-popup {
    
    display: flex;
    width: 100%;
    max-width: 1170px;
    max-height: 832px;
    z-index: 3;
    margin: 40px auto;
    background-color: #FBF6E9;
    border: 4px solid #383838;
    border-radius: 16px;
    position: relative;
    justify-content: center;
    font-family: "sukhumvit";
    padding: 40px 60px;
    .popup-close-icon {
        position: absolute;
        top: 20px;
        right: 24px;
        width: 32px;
        height: 32px;
    }
    .accommodation-flexbox {
        max-height: 800px;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        // overflow-y: auto;
        flex-direction: column;
        // margin: auto;
        width: 100%;
        height: 100%;
    }
    .popup-name-box {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        span {
            &:nth-child(1) {
                font-size: 48px;
                font-weight: bold;
                line-height: 56px;
                text-align: center;
                color: #383838;
                margin-bottom: 8px
            }
            &:nth-child(2) {
                color: #757575;
                font-size: 20px;
                line-height: 32px;
                margin-bottom: 8px;
            }
        }
    }
    .row-box {
        display: flex;
        // overflow-x: hidden;
        padding: 0 20px;
        margin-top: 40px;
        .image-box {
            width: 485px;
            height: 504px;
            margin-right: 40px;
            position: relative;
            .big-image {
                object-fit: fill;
                width: 485px;
                height: 406px;
                border-radius: 16px;
                margin-bottom: 8px;
            }
            .no-image {
                object-fit: contain;
                border-radius: 16px;
                width: 485px;
                height: 509px;
            }
            .image-list {
                display: flex;
                overflow-y: auto;
                width: 485px;
                img {
                    display: flex;
                    object-fit: cover;
                    margin-right: 8px;
                    width: 90px;
                    height: 90px;
                }
            }
            .prev,
            .next {
                cursor: pointer;
                position: absolute;
                top: 40%;
                width: auto;
                padding: 16px;
                margin-top: -50px;
                color: black;
                font-weight: bold;
                font-size: 20px;
                border-radius: 0 3px 3px 0;
                user-select: none;
                -webkit-user-select: none;
                text-decoration: none;
            }
            .next {
                right: 0;
                border-radius: 3px 0 0 3px;
            }
            .prev:hover {
                background-color: rgba(0, 0, 0, 0.8);
                color: wheat;
            }
            .next:hover {
                background-color: rgba(0, 0, 0, 0.8);
                color: wheat;
            }
        }
        .detail-box {
            position: relative;
            display: flex;
            width: 485px;
            color: #383838;
            flex-direction: column;
            height: 504px;
        }
        .information-box {
            height: 128px;
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 24px;
        }
        .popup-price-box {
            // width: 170px;
            font-size: 24px;
            display: flex;
            align-items: center;
            margin-bottom: 24px;
            img {
                width: 32px;
                height: 32px;
            }
            span {
                font-weight: bold;
                margin-left: 8px;
                font-weight: 600;
            }
        }
        .breakfast-box {
            display: flex;
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            color: #383838;
            margin-bottom: 24px;
            span {
                margin-left: 8px;
            }
        }
        .service-box {
            display: flex;
            flex-wrap: wrap;
            width: 485px;
            position: relative;
            bottom: 0;
            height: 240px;
            padding: 32px 37px;
            background-color: rgba(225, 211, 182, 0.5);
            border-radius: 16px;
            .icon-box {
                display: flex;
                flex: 0 0 calc(( 100%)/4);
                max-height: 48px;
                text-align: center;
                align-items: center;
                // flex-wrap: wrap;
                width: 121px;
                flex-direction: column;
                img {
                    margin-bottom: 8px;
                    width: 48px;
                    height: 48px;
                }
                span {
                    color: #383838;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
    .contact-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px 0 auto;
        // margin-top: 40px;
        .contact-item {
            align-items: center;
            display: flex;
            justify-content: center;
            color: #383838;
            img {
                width: 24px;
                height: 24px;
                vertical-align: middle;
            }
            display: flex;
            justify-content: center;
            margin: 0 24px;
            span {
                margin-left: 8px;
                font-size: 24px;
                line-height: 32px;
            }
            .fb-with-link {
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                    font-weight: bolder;
                }
            }
        }
    }
}