.attraction-page {
    background: #FBF6E9;
    width: 100%;
    font-family: "sukhumvit";
    // padding-top: 80px;
    .header-box {
        padding: 30px 0 40px 0;
        width: 100%;
        text-align: center;
        margin: auto;
        font-style: normal;
        font-weight: bold;
        font-size: 80px;
        line-height: 88px;
        color: #383838;
    }
    .attraction-block {
        // display: flex;
        padding-top: 40px;
        z-index: 2;
        width: 100%;
    }
    .tab-block {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 312px;
        background-color: rgba(225, 211, 182, 0.5);
        .tab-item {
            width: 370px;
            height: 288px;
            display: flex;
            // align-items: flex-end;
            align-self: flex-end;
            // justify-content: flex-end;
            // padding: 0;
            // margin-bottom: 0;
            // background: #FBF6E9;
            // :hover{
            //     background: #E1D3B6;
            // }
        }
        .tab-box {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // height: 288px;
            height: 264px;
            padding-top: 24px;
            width: 370px;
            // padding: 24px 0;
            border-radius: 40px;
            // background: #FBF6E9;
            img {
                margin-bottom: 22px;
                width: 170px;
                height: 170px;
            }
            a {
                color: #383838;
                font-size: 32px;
                height: 40px;
                font-weight: bold;
                line-height: 40px;
                text-align: center;
                text-decoration: none;
            }
        }
        .tab-box:hover {
            background: #E1D3B6;
        }
        .tab-box-active {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 288px;
            background: #FBF6E9;
            // height: 264px;
            // padding-top: 24px;
            // background: red;
            width: 370px;
            padding: 24px 0;
            border-radius: 40px 40px 0 0;
            img {
                margin-bottom: 22px;
                width: 170px;
                height: 170px;
            }
            a {
                color: #383838;
                font-size: 32px;
                font-weight: bold;
                line-height: 40px;
                height: 40px;
                text-align: center;
                text-decoration: none;
            }
        }
        .tab-line {
            align-self: center;
            margin: 48px 14px 48px 16px;
            width: 0;
            height: 216px;
            border-left: 4px solid #383838;
            &:nth-child(2) {
                margin: 48px 16px 48px 14px;
            }
        }
    }
    .attraction-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: auto;
        max-width: 1166px;
        .attraction-item {
            flex: 0 0 calc((100% - 68px)/3);
            display: flex;
            flex-direction: column;
            // justify-content: ;
            max-width: 370px;
            height: 430px;
            margin: 0 34px 40px 0;
            padding: 22px 22px 20px 22px;
            background-image: url('/img/attraction/attraction-frame.png');
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
            &:nth-child(2n) {
                // margin: 0 32px 40px 0;
            }
            &:nth-child(3n) {
                margin: 0 0 40px 0;
            }
            img {
                width: 322px;
                height: 322px;
                border-radius: 16px;
            }
            .attraction-namebox {
                margin-top: 24px;
                width: 322px;
                height: 40px;
                display: flex;
                align-items: center;
                .glass {
                    width: 32px;
                    height: 32px;
                    background-image: url('/glass.png');
                }
                span {
                    width: 263px;
                    white-space: pre;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    margin-left: 16px;
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 40px;
                }
            }
        }
        .attraction-item:hover {
            background-image: url('/img/attraction/attraction-frame-hover.png');
        }
        .attraction-item:hover .glass {
            background-image: url('/glass-hover.png');
        }
    }
    .leader-box {
        background: rgba(225, 211, 182, 0.5);
        .leader-row-box {
            display: flex;
            justify-content: center;
            padding-top: 80px;
        }
        .leader-left-box {
            width: 585px;
            // height: 440px;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .leader-tag {
            font-size: 32px;
            line-height: 40px;
            font-weight: bold;
            background: #FFFDF8;
            padding: 10px 15px;
            border: 4px solid #383838;
            border-radius: 16px;
        }
        .leader-right-box {
            align-items: center;
            flex-direction: column;
            display: flex;
            border-left: 4px solid #383838;
            width: 585px;
            // height: 440px;
        }
        .leader-item {
            width: 170px;
            height: 200px;
            display: flex;
            flex-direction: column;
            padding-top: 24px;
            cursor: pointer;
            // justify-content: center;
            align-items: center;
            .leader-image-box {
                position: relative;
                background-size: contain;
                width: 118px;
                height: 118px;
                // background-size: cover;
                // background-repeat: no-repeat;
                // background-position: center;
                border-radius: 50%;
                // background-color: blue;
                border: 4px solid #383838;
                .leader-img {
                    // opacity: 0.8;
                    position: absolute;
                    border-radius: 100%;
                    left: -1px;
                    top: -1px;
                    width: 112px;
                    height: 112px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            span {
                margin-top: 16px;
                font-weight: bold;
                font-size: 24px;
                line-height: 32px;
                text-align: center;
            }
        }
        .leader-item:hover .leader-image-box {
            border-radius: 100%;
            width: 118px;
            height: 118px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background: black;
            background-blend-mode: hard-light;
        }
        .leader-item:hover .leader-img {
            opacity: 0.8;
            position: absolute;
            border-radius: 100%;
            left: -1px;
            top: -1px;
            width: 112px;
            height: 112px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.popup-fixed-box {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
}

.attraction-popup {
    font-family: "sukhumvit";
    display: flex;
    width: 100%;
    height: 90%;
    max-width: 970px;
    max-height: 880px;
    z-index: 3;
    margin: auto;
    background-color: #FBF6E9;
    border: 4px solid #383838;
    border-radius: 16px;
    position: relative;
    justify-content: center;
    font-family: "sukhumvit";
    padding: 40px 0 60px 0;
    // padding: 40px 40px 20px 40px;
    .attraction-flexbox {
        max-height: 880px;
        // max-width: 970px;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        // overflow-y: auto;
        flex-direction: column;
        // margin: auto;
        width: 100%;
        height: 100%;
        // padding: 40px 80px 80px 80px;
        max-height: 880px;
        background-color: #FBF6E9;
        // border: 4px solid #383838;
        border-radius: 16px;
        .attraction-popup-namebox {
            color: #383838;
            display: flex;
            // height: 56px;
            font-size: 48px;
            width: 698px;
            font-weight: bold;
            line-height: 56px;
            text-align: center;
            margin: 0 auto 40px;
            position: relative;
            align-items: flex-start;
            justify-content: center;
            img {
                position: relative;
                top: 8px;
                // padding-top: 16px;
                margin-right: 24px;
                width: 40px;
                height: 40px;
            }
        }
        .slider {
            position: relative;
            max-width: 692px;
            margin: auto;
        }
        .slider-box {
            position: relative;
        }
        .slider-image {
            display: flex;
            position: relative;
            background-position: center;
            background-size: contain;
            // background-size: auto;
            background-repeat: no-repeat;
            max-width: 698px;
            // max-height: 562px;
            margin: auto;
            text-align: center;
            color: white;
            width: 698px;
            border-radius: 16px;
            // border-radius: 90%;
            height: 560px;
        }
        .popup-detail-box {
            color: #383838;
            padding-top: 40px;
            max-width: 698px;
            display: flex;
            // overflow:auto;
            // overflow-x: auto;
            margin: 0 auto;
            white-space: pre-line;
            font-size: 24px;
            line-height: 32px;
            span {
                max-width: 698px;
            }
        }
        .link-box {
            font-family: 'sukhumvit';
            display: flex;
            width: 698px;
            justify-content: center;
            color: #383838;
            display: none;
            font-size: 24px;
            margin: 24px auto 0;
            .link-1 {
                margin-right: 24px;
            }
            .link-2 {}
        }
    }
}

.popup-close-icon {
    position: absolute;
    top: 20px;
    right: 24px;
    width: 32px;
    height: 32px;
}

.sage-backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.sage-popup {
    font-family: "sukhumvit";
    // display: none;
    z-index: 3;
    padding: 40px 80px 100px 80px;
    width: 1170px;
    height: 1000px;
    display: flex;
    // max-height: 2000px;
    flex-direction: column;
    position: relative;
    background-color: #FBF6E9;
    border: 4px solid #383838;
    border-radius: 16px;
    overflow-y: auto;
    justify-content: flex-start;
    .sage-flexbox {
        display: flex;
        flex-direction: column;
    }
    .sage-popup-close-icon {
        background-repeat: no-repeat;
        position: absolute;
        top: 20px;
        right: 24px;
        width: 32px;
        height: 32px;
    }
    .sage-pa1 {
        display: flex;
        flex-direction: column;
        img {
            width: 695px;
            height: 560px;
            margin: 0 auto;
            border-radius: 16px;
        }
        span {
            &:nth-child(2) {
                text-align: center;
                margin-top: 40px;
                font-weight: bold;
                font-size: 40px;
                // text-decoration: underline;
                line-height: 32px;
                margin-bottom: 16px;
            }
            &:nth-child(3) {
                // font-weight: bold;
                color: #757575;
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 16px;
            }
        }
    }
    .sage-pa2 {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        span {
            &:nth-child(1) {
                font-size: 28px;
                font-weight: bold;
            }
            &:nth-child(2) {
                text-indent: 50px;
                text-align: start;
                // padding-left: 16px;
                color: #757575;
            }
        }
    }
    .sage-pa3 {
        display: flex;
        flex-direction: column;
        .sage-image-box {
            margin: 24px 0;
            justify-content: space-around;
            display: flex;
        }
        span {
            font-size: 20px;
            &:nth-child(2) {
                font-size: 28px;
                font-weight: bold;
            }
            &:nth-child(3) {
                text-indent: 50px;
                text-align: start;
                // padding-left: 16px;
                color: #757575;
            }
        }
    }
}

.leader-backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.leader-popup {
    font-family: 'sukhumvit';
    // display: none;
    z-index: 3;
    padding: 40px 80px 100px 80px;
    width: 1170px;
    height: 900px;
    display: flex;
    // max-height: 2000px;
    flex-direction: column;
    position: relative;
    background-color: #FBF6E9;
    border: 4px solid #383838;
    border-radius: 16px;
    overflow-y: auto;
    justify-content: flex-start;
    .leader-flexbox {
        display: flex;
        flex-direction: column;
    }
    .leader-popup-close-icon {
        background-repeat: no-repeat;
        position: absolute;
        top: 20px;
        right: 24px;
        width: 32px;
        height: 32px;
    }
    .leader-pa1 {
        display: flex;
        flex-direction: column;
        img {
            width: 395px;
            height: 555px;
            border-radius: 20px;
            margin: 0 auto;
            object-fit: cover;
        }
        span {
            &:nth-child(2) {
                text-align: center;
                margin-top: 40px;
                font-weight: bold;
                font-size: 40px;
                // text-decoration: underline;
                line-height: 42px;
                margin-bottom: 16px;
            }
            &:nth-child(3) {
                // font-weight: bold;
                text-indent: 50px;
                color: #757575;
                font-size: 20px;
                // line-height: 32px;
                margin-bottom: 16px;
            }
        }
    }
    .leader-pa2 {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        span {
            // &:nth-child(1){
            //     font-size: 28px;
            //     font-weight: bold;
            // }
            &:nth-child(1) {
                text-indent: 50px;
                text-align: start;
                // padding-left: 16px;
                color: #757575;
            }
        }
    }
    .leader-pa3 {
        display: flex;
        flex-direction: column;
        .leader-image-box {
            margin: 24px 0;
            justify-content: space-around;
            display: flex;
            img {
                width: 400px;
                height: 500px;
                object-fit: fill;
                border-radius: 24px;
            }
        }
        span {
            font-size: 20px;
            &:nth-child(2) {
                // text-indent: 50px;
                text-align: start;
                // padding-left: 16px;
                color: #757575;
            }
        }
    }
}