
$xs: "screen and (max-width: 767px)";
// $sm: "screen and (min-width: 576px)";
$md: "screen and (min-width: 768px)";
$lg: "screen and (min-width: 992px)";
$xl: "screen and (min-width: 1200px)";
$xxl: "screen and (min-width: 1400px)";
.attraction-page {
    background: #FBF6E9;
    width: 100%;
    font-family: "sukhumvit";
    // padding-top: 80px;

    
    .header-box {
        width: 100%;
        text-align: center;
        margin: auto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        // line-height: 88px;
        padding: 16px 20px 8px;
        color: #383838;
        @media #{$md} {
            font-size: 40px;
            line-height: 48px;
            padding: 32px 0;
        }
        @media #{$xxl} {
            // height: auto;
            padding: 30px 0 40px 0;
            font-size: 80px;
            line-height: 88px;
            
        }
    }
    .attraction-block {
        // display: flex;
        padding-top: 40px;
        z-index: 2;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .load-content-text{
            cursor: pointer;
            font-weight: bold;
            align-self: center;
            text-align: center;
            justify-content: center;
            display: flex;
            flex: 1;
            margin: 0 auto;
            text-decoration: underline;
            margin-bottom: 24px;
            font-size: 16px;
            line-height: 24px;
            @media #{$xxl} {
                margin-bottom: 0;
                font-size: 32px;
                line-height: 40px;
                width: 150px;
                height: 40px;
            }
        }
    }
    .tab-block {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        background-color: rgba(225, 211, 182, 0.5);
        height: 104px;
        @media #{$md} {
            height: 216px;
            justify-content: center;
        }
        @media #{$xxl} {
            height: 312px;
            
        }
        .tab-item {
            display: flex;
            width: 100px;
            height: 96px;
            align-self: flex-end;
            @media #{$md} {
                width: 220px;
                height: 200px;
                margin: 0 7.5px;
            }
            @media #{$xxl} {
                margin: 0;
                height: 288px;
                width: 370px;
                
            }
        }
        .tab-box {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 88px;
            width: 100px;
            border-radius: 16px;
            padding-top: 8px;
            @media #{$md} {
                padding-top: 16px;
                width: 220px;
                height: 184px;
            }
            @media #{$xxl} {
                padding-top: 24px;
                height: 264px;
                width: 370px;
                border-radius: 40px;
                
            }
            img {
                width: 40px;
                height: 40px;
                margin-bottom: 4px;
                @media #{$md} {
                    width: 104px;
                    height: 104px;
                    margin-bottom: 16px;
                }
                @media #{$xxl} {
                    width: 170px;
                    margin-bottom: 22px;
                    height: 170px;
                }
            }
            a {
                color: #383838;
                height: 16px;
                line-height: 16px;
                font-size: 12px;
                text-align: center;
                font-weight: bold;
                text-decoration: none;
                width: 63px;
                height: 32px;
                overflow: hidden;
                @media #{$md} {
                    font-size: 20px;
                    line-height: 20px;
                    height: 40px;
                    width: 155px;
                }
                @media #{$xxl} {
                    width: auto;
                    line-height: 40px;
                    font-size: 32px;
                }
            }
        }
        .tab-box:hover {
            background: #E1D3B6;
        }
        .tab-box-active {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: #FBF6E9;
            // height: 264px;
            // padding-top: 24px;
            // background: red;
            width: 100px;
            height: 96px;
            border-radius: 16px 16px 0 0;
            // padding: 8px 0;
            @media #{$md} {
                width: 220px;
                height: 200px;
            }
            @media #{$xxl} {
                height: 288px;
                padding: 24px 0;
                width: 370px;
                border-radius: 40px 40px 0 0;
            }
            img {
                width: 40px;
                height: 40px;
                margin-bottom: 4px;
                @media #{$md} {
                    width: 104px;
                    height: 104px;
                    margin-bottom: 16px;
                }
                @media #{$xxl} {
                    margin-bottom: 22px;
                    width: 170px;
                    height: 170px;
                }
            }
            a {
                color: #383838;
                font-weight: bold;
                text-align: center;
                text-decoration: none;
                line-height: 16px;
                font-size: 12px;
                height: 32px;
                
                width: 63px;
                @media #{$md} {
                    font-size: 20px;
                    line-height: 20px;
                    height: 40px;
                    width: 155px;
                }
                @media #{$xxl} {
                    width: auto;
                    font-size: 32px;
                    line-height: 40px;
                    height: 40px;
                    
                }
            }
        }
        .tab-line {
            align-self: center;
            width: 0;
            @media #{$xxl} {
                height: 216px;
                margin: 48px 14px 48px 16px;
                border-left: 4px solid #383838;
            }
            &:nth-child(2) {
                @media #{$xxl} {
                    margin: 48px 16px 48px 14px;
                }
            }
        }
    }
    .attraction-list {
        color: #383838;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: auto;
        max-width: 320px;
        @media #{$md} {
            max-width: 690px;
        }
        @media #{$xxl} {
            max-width: 1166px;
            
        }
        .attraction-item {
            display: flex;
            flex-direction: column;
            // justify-content: ;
            background-image: url('/img/attraction/attraction-frame.png');
            background-size: contain;
            background-repeat: no-repeat;
            flex: 0 0 calc((100% - 15px)/2);
            max-width: 150px;
            height: 176px;
            cursor: pointer;
            margin-right: 15px;
            margin-bottom: 16px;
            padding: 7px;
            &:nth-child(2n){
                margin-right: 0;
            }
            &:nth-last-child(1){
                margin-right: 0;
            }
            @media #{$md} {
                margin: 0 15px 24px 0;
                max-width: 220px;
                height: 252px;   
                flex: 0 0 calc((100% - 30px) /3);
                padding:  14px 14.5px 11.45px;
                &:nth-child(2n){
                    margin: 0 15px 24px 0;
                }
                &:nth-child(3n){
                    margin-right: 0;
                }
            }
            @media #{$xxl} {
                margin: 0 34px 40px 0;
                flex: 0 0 calc((100% - 68px)/3);
                max-width: 370px;
                height: 430px;
                padding: 22px 22px 20px 22px;
                &:nth-child(2n) {
                    margin: 0 34px 40px 0;
                }
                &:nth-child(3n) {
                    margin-right: 0;
    
                }
            }

            img {
                width: 134px;
                height: 134px;
                border-radius: 4px;
                @media #{$md} {
                    width: 188px;
                    height: 187.25px;
                }
                @media #{$xxl} {
                    width: 322px;
                    height: 322px;
                    border-radius: 16px;
                }
            }
            .attraction-namebox {
                display: flex;
                align-items: center;
                
                height: 16px;
                margin-top: 10px;
                @media #{$md} {
                    margin-top: 11.95px;
                }
                @media #{$xxl} {
                    margin-top: 24px;
                    width: 322px;
                    height: 40px;
                }
                .glass {
                    background-image: url('/glass.png');
                    width: 16px;
                    height: 16px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    @media #{$md} {
                        width: 16px;
                        height: 15.94px;
                    }
                    @media #{$xxl} {
                        width: 32px;
                        height: 32px;
                    }
                }
                span {
                    font-size: 12px;
                    line-height: 16px;
                    white-space: pre;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-weight: 500;
                    width: 110px;
                    margin-left: 8px;
                    @media #{$md} {
                        font-size: 16px;
                        line-height: 24px;
                        width: 164px;
                    }
                    @media #{$xxl} {
                        width: 263px;
                        margin-left: 16px;
                        font-size: 32px;
                        line-height: 40px;
                    }
                }
            }
        }
        .attraction-item:hover {
            background-image: url('/img/attraction/attraction-frame-hover.png');
        }
        .attraction-item:hover .glass {
            background-image: url('/glass-hover.png');
        }
    }
    .leader-box {
        margin-top: 16px;
        @media #{$xxl} {
            background: rgba(225, 211, 182, 0.5);
            margin-top: 40px;
        }   
        .leader-row-box {
            display: flex;
            justify-content: space-between;
            width: 320px;
            margin: 0 auto;
            @media #{$md} {
                width: 690px;
                padding-top: 40px;
            }
            @media #{$xxl} {
                padding-top: 80px;
                width: 1170px;
            }
        }
        .leader-left-box {
            // height: 440px;
            display: flex;
            align-items: center;
            flex-direction: column;
            @media #{$md} {
                width: 100%;
            }
            @media #{$xxl} {
                // max-width: 585px;
            }
            
        }
        .leader-tag {
            font-weight: bold;
            background: #FFFDF8;
            color: #383838;
            border: 2px solid #383838;
            font-size: 14px;
            line-height: 16px;
            padding: 8px 20px;
            border-radius: 8px;
            width: 150px;
            height: 48px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            @media #{$md} {
                width: 270px;
                height: 40px;
                padding: 8px 16px;
                font-size: 16px;
                line-height: 24px;
            }
            @media #{$xxl} {
                height: 56px;
                width: auto;
                padding: 8px 15px;
                border: 4px solid #383838;
                border-radius: 16px;
                font-size: 32px;
                line-height: 40px;
            }
        }
        .leader-right-box {
            align-items: center;
            flex-direction: column;
            display: flex;
            @media #{$md} {
                width: 100%;
            }
            @media #{$xxl} {
                border-left: 4px solid #383838;
                // max-width: 585px;
            }
            // height: 440px;
        }
        .leader-item {
            color: #383838;
            // width: 170px;
            height: 200px;
            display: flex;
            flex-direction: column;
            padding-top: 24px;
            cursor: pointer;
            // justify-content: center;
            align-items: center;
            
            .leader-image-box {
                position: relative;
                background-size: contain;
                // background-size: cover;
                // background-repeat: no-repeat;
                // background-position: center;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                border: 2px solid #383838;
                overflow: hidden;
                &::before{
                    display: none;
                    width: 80px;
                    content: '';
                    height: 80px;
                    border-radius: 50%;
                    background: rgba(56, 56, 56, 0.5);
                    background-blend-mode: hard-light;
                    position: absolute;
                    z-index: 5;
                    @media #{$xxl} {
                        width: 118px;
                        height: 118px;
                    }

                }
                @media #{$md} {
                    border: 2px solid #383838;
                }
                @media #{$xxl} {
                    width: 118px;
                    height: 118px;
                    border: 4px solid #383838;
                    
                }
                .leader-img {
                    // opacity: 0.8;
                    // display: none;
                    position: relative;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 80px;
                    height: 80px;
                    // top: 1px;
                    right: 1px;
                    border-radius: 100%;
                    @media #{$md} {
                        top: 0;
                        // display: none;
                        // right: 0;
                        // right: 1px;
                        width: 80px;
                        height: 80px;
                    }
                    @media #{$xxl} {
                        left: -1px;
                        top: -1px;
                        width: 112px;
                        height: 112px;
                    }
                }
            }
            span {
                font-weight: bold;
                text-align: center;
                margin-top: 8px;
                width: 150px;
                height: 24px;
                // font-family: Tahoma;
                @media #{$xxl} {
                    margin-top: 16px;
                    font-size: 24px;
                    height: 32px;
                    width: auto;
                    line-height: 32px;
                }
            }
        }
        .leader-item:hover .leader-image-box {
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-blend-mode: hard-light;
            width: 80px;
            height: 80px;
            &::before{
                display: block;
            }
            @media #{$xxl} {
                width: 118px;
                height: 118px;
            }
        }
        .leader-item:hover .leader-img {
            // opacity: 0.8;
            position: relative;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 80px;
            height: 80px;
            // top: 1px;
            // right: 1px;
            @media #{$xxl} {
                left: -1px;
                top: -1px;
                width: 112px;
                height: 112px;
            }
        }
    }
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.popup-fixed-box {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
}

.attraction-popup {
    font-family: "sukhumvit";
    display: flex;
    width: 95%;
    height: 95%;
    max-width: 320px;
    margin: auto;
    background-color: #FBF6E9;
    position: relative;
    justify-content: center;
    font-family: "sukhumvit";
    padding: 32px 0 24px;
    border-radius: 8px;
    border: 2px solid #383838;
    // padding: 40px 40px 20px 40px;
    max-height: 464px;
    overflow-x: hidden;
    overflow-y: hidden;
    @media #{$md} {
        max-width: 690px;
        max-height: 768px;
        padding: 40px 0;
    }
    @media #{$xxl} {

        padding: 40px  0 80px;
        border-radius: 16px;
        border: 4px solid #383838;
        max-width: 970px;
        max-height: 880px;
    }
    .attraction-flexbox {
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        height: 100%;
        padding: 0 20px;
        @media #{$md} {
            // padding: 0 56px;
            padding: 0 60px;
        }
        @media #{$xxl} {
            padding: 0 80px;
            // padding:  60px 0;
            // max-height: 880px;
            // border-radius: 16px;
        }
        .attraction-popup-namebox {
            color: #383838;
            display: flex;
            // height: 56px;
            font-weight: bold;
            text-align: center;
            position: relative;
            word-break: break-word;
            align-items: flex-start;
            justify-content: center;
            margin: 0 auto 8px;
            @media #{$md} {
             margin: 0 auto 16px;
            max-width: 570px;
            }
            @media #{$xxl} {
                // width: auto;
                margin: 0 auto 40px;
                max-width: 750px;
            }
            img {
                position: relative;
                // padding-top: 16px;
                width: 16px;
                height: 16px;
                top: 4px;
                margin-right: 8px;
                @media #{$md} {
                    top: 6px;
                    width: 32px;
                    height: 32px;
                    margin-right: 16px;
                    
                }
                @media #{$xxl} {
                    top: 8px;
                    margin-right: 24px;
                    width: 40px;
                    height: 40px;
                }
            }
            span{
                // height: 100%;
                font-size: 16px;
                line-height: 24px;
                @media #{$md} {
                    font-size: 40px;
                    line-height: 48px;
                }
                @media #{$xxl} {
                    line-height: 60px;
                    font-size: 48px;
                }
            }
        }
        .slider {
            // position: relative;
            margin: 0 auto;
            max-width: 280px;
            // height: 100%;
            margin-bottom: 8px;
            @media #{$md} {
            margin-bottom: 48px;
             max-width: 570px;
             max-height: 448px;   
            }
            @media #{$xxl} {
                // margin-bottom: 40px;
                max-height: 560px;
                max-width: 692px;
            }
        }
        .slider-box {
            position: relative;
            width: 280px;
            height: 240px;
            @media #{$md} {
                width: 570px;
                height: 448px;
            }
            @media #{$xxl} {
                width: 698px;
                height: 560px;
            }
        }
        .slider-image {
            display: flex;
            position: relative;
            background-position: center;
            background-size: cover;
            // background-size: auto;
            background-repeat: no-repeat;
            // max-height: 562px;
            margin: auto;
            text-align: center;
            color: white;
            // border-radius: 90%;
            border-radius: 8px;


            width: 280px;
            height: 240px;
            @media #{$md} {
                // width: 570px;
                width: 570px;
                height: 448px; 
                // height: 448px;
                margin: 0;
               }
            @media #{$xxl} {
                width: 698px;
                // height: 560px;
                height: 560px;
                // width: 698px;
                border-radius: 16px;
                
            }
        }
        .popup-detail-box {
            color: #383838;
            display: flex;
            white-space: pre-line;
            font-size: 16px;
            line-height: 24px;
            max-width: 280px;
            height: auto;
            @media #{$md} {
                max-width: 570px;
                font-size: 24px;
                line-height: 32px;
            }
            @media #{$xxl} {
                margin: 0 auto;
                font-size: 24px;
                max-width: 698px;
                line-height: 32px;
                
            }
            span {
                max-width: 270px;
                @media #{$md} {
                    max-width: 570px;
                }
                @media #{$xxl} {
                    max-width: 698px;
                }
            }
        }
        .link-box {
            font-family: 'sukhumvit';
            display: flex;
            width: 698px;
            justify-content: center;
            color: #383838;
            display: none;
            font-size: 24px;
            margin: 24px auto 0;
            .link-1 {
                margin-right: 24px;
            }
            .link-2 {}
        }
    }
}

.popup-close-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 8px;
    right: 8px;
    @media #{$md} {
        top: 24px;
        right: 24px;
        width: 32px;
        height: 32px;
    }
}

.sage-backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.sage-popup {
    // display: none;
    height: 95%;
    width: 95%;
    z-index: 3;
    display: flex;
    margin: auto;
    // max-height: 2000px;
    flex-direction: column;
    position: relative;
    background-color: #FBF6E9;
    border-radius: 16px;
    overflow-y: auto;
    justify-content: flex-start;
    padding: 24px 0;
    max-width: 320px;
    border: 2px solid #383838;
    font-family: "sukhumvit";

    @media #{$md} {
        max-width: 690px;
        padding: 40px 0 40px;
        border: 4px solid #383838;
        
    }
    @media #{$xxl} {
        padding: 40px  0 ;
        max-width: 1170px;
        max-height: 1000px;
    }
    .sage-flexbox {
        color: #383838;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        padding: 0 20px;
        flex-direction: column;
        @media #{$md} {
            padding: 0px 60px;
        }
        @media #{$xxl} {
            padding: 0 80px;
        }
    }
    .sage-popup-close-icon {
        background-repeat: no-repeat;
        position: absolute;
        width: 16px;
        height: 16px;
        top: 8px;
        right: 8px;
        @media #{$md} {
            top: 20px;
            right: 20px;
            width: 32px;
            height: 32px;
        }
    }
    .sage-pa1 {
        display: flex;
        flex-direction: column;
        img {
            width: 272px;
            height: 240px;
            border-radius: 16px;
            margin: 0 auto;
            @media #{$md} {
                width: 570px;
                height: 390px;
            }
            @media #{$xxl} {
                width: 695px;
                height: 560px;
                border-radius: 16px;
            }
        }
        span {
            &:nth-child(2) {
                text-align: center;
                font-weight: bold;
                // text-decoration: underline;
                font-size: 16px;
                line-height: 24px;
                margin-top: 8px;
                margin-bottom: 8px;
                font-family: 'sukhumvit';
                @media #{$md} {
                    margin: 16px 0;
                    font-size: 32px;
                    line-height: 40px;
                }
                @media #{$xxl} {
                    font-size: 40px;
                    margin-top: 40px;
                    line-height: 32px;
                    margin-bottom: 16px;
                }
            }
            &:nth-child(3) {
                // font-weight: bold;
                color: #757575;
                margin-bottom: 8px;
                font-size: 12px;
                line-height: 16px;
                font-family: Tahoma;
                @media #{$md} {
                    font-size: 16px;
                    line-height: 24px;
                }
                @media #{$xxl} {
                    // font-family: 'sukhumvit';
                    font-size: 24px;
                    line-height: 32px;
                    margin-bottom: 16px;
                }
            }
        }
    }
    .sage-pa2 {
        display: flex;
        flex-direction: column;

        
        span {
            &:nth-child(1) {
                font-weight: bold;
                font-size: 16px;
                @media #{$md} {
                    font-size: 24px;
                }
                @media #{$xxl} {
                    font-size: 28px;
                }
            }
            &:nth-child(2) {
                text-align: start;
                color: #757575;
                font-size: 12px;
                line-height: 16px;
                text-indent: 24px;
                font-family: Tahoma;
                @media #{$md} {
                    font-size: 16px;
                    line-height: 24px;
                }
                @media #{$xxl} {
                    // font-family: 'sukhumvit';
                    line-height: 32px;
                    font-size: 24px;
                    text-indent: 50px;
                }
            }
        }
    }
    .sage-pa3 {
        
        display: flex;
        flex-direction: column;
        .sage-image-box {
            justify-content: space-around;
            display: flex;
            margin: 12px 0;
            img{
                width: 120px;
                border-radius: 8px;
            }
            @media #{$md} {
                margin: 24px 0;
                img{
                 width: 240px;   
                }
            }
            @media #{$xxl} {
                img{
                    border-radius: 16px;
                    width: auto;
                    height: auto;
                }
            }
        }
        span {

            &:nth-child(2) {
                font-weight: bold;
                @media #{$md} {
                    font-size: 24px;
                    line-height: 32px;
                }
                @media #{$xxl} {
                    line-height: 32px;
                    font-size: 28px;
                }
            }
            &:nth-child(3) {
                text-align: start;
                // padding-left: 16px;
                font-size: 12px;
                line-height: 16px;
                color: #757575;
                text-indent: 24px;
                font-family: Tahoma;
                @media #{$md} {
                    font-size: 16px;
                    line-height: 24px;
                }
                @media #{$xxl} {
                    // font-family: 'sukhumvit';
                    font-size: 24px;
                    text-indent: 50px;
                    line-height: 32px;
                }
            }
        }
    }
}

.leader-backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.leader-popup {
    // display: none;
    font-family: "sukhumvit";
    z-index: 3;
    height: 95%;
    width: 95%;
    display: flex;
    margin: auto;
    // max-height: 2000px;
    flex-direction: column;
    position: relative;
    background-color: #FBF6E9;
    overflow-y: auto;
    justify-content: flex-start;
    border-radius: 8px;
    border: 2px solid #383838;
    max-width: 320px;
    padding: 24px 0 ;
    @media #{$md} {
        max-width: 690px;
        padding: 40px 0;
        border: 4px solid #383838;     
    }
    @media #{$xxl} {
        border-radius: 16px;
        max-height: 1000px;
        padding: 40px 0 80px ;
        max-width: 1170px;
    }
    .leader-flexbox {
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        padding: 0 20px;
        flex-direction: column;
        color: #383838;
        @media #{$md} {
            padding: 0 60px;
        }
        @media #{$xxl} {
            padding: 0 80px;
        }
    }
    .leader-popup-close-icon {
        background-repeat: no-repeat;
        position: absolute;
        top: 8px;
        right: 8px;
        width: 16px;
        height: 16px;
        @media #{$md} {
            top: 24px;
            right: 24px;
            width: 32px;
            height: 32px;
        }
    }
    .leader-pa1 {
        display: flex;
        flex-direction: column;
        font-family: Tahoma;
        img {
            margin: 0 auto;
            object-fit: cover;
            width: 272px;
            height: 300px;
            border-radius: 8px;
            @media #{$md} {
                width: 395px;
                height: 500px;
            }
            @media #{$xxl} {
                border-radius: 16px;
                object-fit: cover;
                width: 395px;
                height: 555px;
                border-radius: 20px;
            }
        }
        span {
            &:nth-child(2) {
                font-family: "sukhumvit";
                text-align: center;
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                margin: 8px 0;
                @media #{$md} {
                    font-size: 32px;
                    line-height: 40px;
                    margin: 16px 0 8px;
                }
                @media #{$xxl} {
                    font-size: 40px;
                    margin-top: 40px;
                    line-height: 42px;
                    margin-bottom: 16px;
                }
            }
            &:nth-child(3) {
                // font-weight: bold;
                color: #757575;
                // line-height: 32px;
                font-family: Tahoma;
                margin-bottom: 8px;
                font-size: 12px;
                text-indent: 24px;
                line-height: 16px;
                @media #{$md} {
                    font-size: 16px;
                    line-height: 24px;
                }
                @media #{$xxl} {
                    // font-family: "sukhumvit";
                    margin-bottom: 16px;
                    line-height: 32px;
                    text-indent: 50px;
                    font-size: 24px;
                }
            }
        }
    }
    .leader-pa2 {
        display: flex;
        flex-direction: column;
        span {
            &:nth-child(1) {
                font-family: Tahoma;
                text-align: start;
                color: #757575;
                font-size: 12px;
                line-height: 16px;
                text-indent: 24px;
                @media #{$md} {
                    font-size: 16px;
                    line-height: 24px;
                }
                @media #{$xxl} {
                    // font-family: "sukhumvit";
                    font-size: 24px;
                    text-indent: 50px;
                    line-height: 32px;
                }
            }
        }
    }
    .leader-pa3 {
        display: flex;
        flex-direction: column;
        .leader-image-box {

            justify-content: space-around;
            display: flex;
            margin: 12px 0;
            img {
                object-fit: fill;
                width: 120px;
                border-radius: 8px;
            }
            @media #{$md} {
                margin: 24px 0;
                img{
                    width: 240px;
                }
            }
            @media #{$xxl} {
                img{
                    width: 400px;
                    height: 500px;
                    border-radius: 24px;
                    
                }
            }
        }
        span {
            &:nth-child(2) {
                text-align: start;                
                color: #757575;
                font-size: 12px;
                line-height: 16px;
                font-family: Tahoma;
                @media #{$md} {
                    font-size: 16px;
                    line-height: 24px;
                }
                @media #{$xxl} {
                    // font-family: "sukhumvit";
                    font-size: 24px;
                    line-height: 32px;
                    
                }
            }
        }
    }
}
.slick{
    position: relative;
    // top: -28px;
    top: -8px;
    display: inline-block;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    // background: red;
    width: auto;
    text-align: center;
    @media #{$md} {
        top: 0;
    }
}
.slick li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    // margin: 0 8px;
    padding: 0;
  }
  .slider-dots{
    border-radius: 50%;
    margin-right: 8px;
    width: 4px;
    height: 4px;
    // @media #{$md} {
    //     width: 8px;
    //     height: 8px;
    //     margin-right: 12px;
    // }
}