html,
body {
  /* max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em; */
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@font-face {
  font-family: "fc_fridaybold";
  src: url("/fonts/FCFridayBold.woff2") format("woff2"),
    url("/fonts/FCFridayBold.woff") format("woff");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "fc_fridayregular";
  src: url("/fonts/FCFridayRegular.woff2") format("woff2"),
    url("/fonts/FCFridayRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* @font-face {
  font-family: "sukhumvit_bold";
  src: url("/fonts/sukhumvitset-medium-04-webfont.woff2") format("woff2"),
    url("/fonts/sukhumvitset-medium-04-webfont.woff") format("woff");
    font-weight: bold;
    font-style: bold;
} */
@font-face {
  font-family: 'sukhumvit';
  src: url('/fonts/sukhumvitset-medium-04-webfont.woff2') format('woff2'),
       url('/fonts/sukhumvitset-medium-04-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'sukhumvit';
  src: url('/fonts/sukhumvitset-bold-06_1-webfont.woff2') format('woff2'),
       url('/fonts/sukhumvitset-bold-06_1-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}




a {
  color: inherit;
  text-decoration: none;
  
}

* {
  box-sizing: border-box;
}
