.officer-page{
    display: flex;
    flex-direction: column;
    background: #FBF6E9;
    font-family: "sukhumvit";
    // padding-bottom: 80px;
    .logo-box{
        display: flex;
        justify-content: center;
        padding:78px 0 40px 0;
    }
    .detail-pa1{
        color: #1F6397;
        width: 1170px;
        margin: 0 auto;
        font-size: 26px;
        line-height: 40px;

    }
    .detail-pa2{
        width: 1170px;
        font-size: 26px;
        line-height: 40px;
        margin: 40px auto ;
        color: #757575;
        a{
            color: #7A2328;
            cursor: pointer;
        }
    }
    .logo-group{
        padding: 40px 0;
        background: rgba(225, 211, 182, 0.5);
        height: 232px;
        // display: flex;
        justify-content: center;
        .wrap-logo{
            display: flex;
            justify-content: center;
            .logo-left-box{
                margin-right: 80px;
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 392px;
                span{
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 32px;
                    color: #757575;
                    margin-top: 16px;
                    font-family: "sukhumvit";
                }
                .logo-rowbox-left{
                    width: 392px;
                    display: flex;
                    img{
                        margin-right: 40px;
                        &:nth-child(3){
                            margin: 0;
                        }
                    }
                }
            }
            .logo-right-box{
                text-align: center;
                display: flex;
                flex-direction: column;
                width: 536px;
                justify-content: space-between;
                span{
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 32px;
                    color: #757575;
                    font-family: "sukhumvit";
                    margin-top: 16px;
                }
                .logo-rowbox-right{
                    display: flex;
                    width: 536px;
                    
                    // width: fit-content;
                    img{
                        margin-right: 40px;
                        margin-right: 40px;
                        &:nth-child(4){
                            margin: 0;
                        }
                    }
                }
            }
        }

    }
    .officer-box{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        font-family: "sukhumvit";
        width: 100%;
        .banner-box{
          position: relative;
          display: flex;
          width: 570px;  
          height: 176px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          justify-content: center;
          align-items: center;
          align-self: center;
          margin-top: 96px;
          span{
              font-family: "sukhumvit";
              text-align: center;
              font-size: 48px;
              padding-bottom: 4px;
              line-height: 88px;
              color: #383838;
              font-weight: bold;
          }

          
        }
        .officer-row-box{
            display: flex;
            justify-content: center;
            text-align: center;
            width: 1170px;
            margin: 0 auto;
            .position-box{
                color: #383838;
                position: relative;
                display: flex;
                // width: 370px;
                flex-direction: column;
                .leader-vertical-line{
                    position: absolute;
                    width: 432px;
                    height: 4px;
                    background-color: #383838;
                    // border: 4px solid #383838;
                    z-index: 1;
                    top: 60px;
                   }
                  .leader-horizental-line{
                      position: absolute;
                      width: 4px;
                      height: 80px;
                      background-color: #383838;
                    //   border: 4px solid #383838;
                      left: 50%;
                      top: -36px;
                      z-index: 1;
                  } 
                .vertical-line{
                    align-self: center;
                    width: 4px;
                    background-color: #383838;
                    height: 224px;
                    // border: 4px solid #383838;
                }

                .worker-white-box{
                    align-self: center;
                    background: #FFFDF8;
                    border-radius: 15px;
                    font-size: 32px;
                    line-height: 40px;
                    width: 270px;
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                    padding: 8px 0;
                    border: 4px solid black;
                }
                .position-name-box{

                    border-radius: 15px;
                    background: #FFFDF8;
                    font-size: 32px;
                    line-height: 40px;
                    width: 370px;
                    font-weight: bold;
                    
                    display: flex;
                    justify-content: center;
                    margin: 32px 0 40px 0;
                    padding: 8px 0;
                    border: 4px solid #383838;

                }
                .position-leader-box{
                    color: #383838;
                    background: #FFFDF8;
                    border-radius: 15px;
                    font-size: 32px;
                    line-height: 40px;
                    width: 370px;
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                    padding: 8px 0;
                    border: 4px solid black;
                    margin: 32px 30px 40px 30px;
                    z-index: 2;
                    position: relative;

                    
                    
                }
                .leader-name{
                    color: #383838;
                    cursor: pointer;
                    text-align: center;
                    align-self: center;
                    justify-self: center;
                    margin-bottom: 16px;
                    display: flex;
                    span{
                        width: 322px;
                        height: 32px;
                        font-size: 24px;
                        line-height: 32px;
                        font-weight: bold;
                    }
                }
                .leader-name:hover{
                    color: #7A2328;
                    cursor: pointer;
                    text-align: center;
                    align-self: center;
                    justify-self: center;
                    margin-bottom: 16px;
                    display: flex;
                    span{
                        width: 322px;
                        height: 32px;
                        font-size: 24px;
                        line-height: 32px;
                        font-weight: bold;
                        // text-decoration: darkseagreen;
                        text-decoration: underline;
                        // color: #757575;
                    }
                }
                .officer-name-box{
                    color: #383838;
                    cursor: pointer;
                    // text-align: start;
                    padding-left: 22px;
                    cursor: pointer;
                    margin-bottom: 16px;
                    width: 322px;
                    height: 32px;
                    font-size: 24px;
                    line-height: 32px;
                    font-weight: bold;
                    display: flex;
                    &:last-child{
                        margin: 0;
                    }

                }
                .officer-name-box:hover{
                    text-decoration: underline;
                    font-weight: bolder;
                    color: #7A2328;
                    }
            }
            
        }
        .vertical-line-box{
            align-self: center;
            width: 800px;
            height: 96px;
            position: relative;
            .vertical-center-line{
                position: absolute;
                width: 4px;
                background-color: #383838;
                height: 96px;
                left: 50%;
                // border: 4px solid #383838;
            }
            .horizental-line{
                position: absolute;
                width: 800px;
                height: 4px;
                background-color: #383838;
                // border: 4px solid #383838;
                top: 50%;
            }
            .vertical-left-line{
                position: absolute;
                width: 4px;
                height: 48px;
                background-color: #383838;
                // border: 4px solid #383838;
                bottom: 0;
                left: 0;
            }
            .vertical-right-line{
                position: absolute;
                width: 4px;
                height: 48px;
                background-color: #383838;
                // border: 4px solid #383838;
                bottom: 0;
                right: 0;
            }
        }
    }
    

}
.popup-fixed-box {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
}

.officer-popup{
    font-family: "sukhumvit";
    z-index: 2;
    position: relative;
    width: 770px;
    max-height: 784px;
    height: 95%;
    overflow-x: hidden;
    margin: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .officer-close-icon-box{
        cursor: pointer;
        z-index: 5;
        position: absolute;
        top: 120px;
        right: 96px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .officer-close-icon{
        // cursor: pointer;
        // position: absolute;
        // display: flex;
        // top: 120px;
        // right: 96px;
        width: 32px;
        height: 32px;
    }
    .officer-flexbox{
        margin-top: 140px;
        // padding: 16px  0 20px;
        // overflow-x: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 632px;
        height: 530px;
    }


}
.officer-backdrop{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.popup-image-box{
    z-index: 3;
    width: 204px;
    height: 204px;
    position: relative;
    display: flex;
    border-radius: 49%;
    // background-color: red;
    border: 4px solid black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    // object-fit: cover;


}
.popup-officer-name{
    font-size: 24px;;
    line-height: 32px;
    margin-top: 32px;
    color: #383838;
    font-weight: bold;
}
.officer-detail{
    display: flex;
    flex-direction: column;
    span{
        display: flex;
        justify-content: center;
        width: 578px;
        // margin-top: 32px;
        font-size: 24px;
        line-height: 32px;
        color: #383838;
        font-weight: bold;
        text-align: center;
        &:nth-child(2){
            text-align: start;
            // text-indent: 50px;
            height: 128px;
            overflow-y: auto;
            font-weight: normal;
            margin-top: 16px;
            color: #757575;
        }
    }
}
.leader-backdrop{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.leader-popup{
    font-family: "sukhumvit";
    // display: none;
    z-index: 3;
    
    width: 1170px;
    height: 95%;
    margin: auto;
    max-height: 900px;
    display: flex;
    // max-height: 2000px;
    flex-direction: column;
    position: relative;
    background-color: #FBF6E9;
    border: 4px solid #383838;
    border-radius: 16px;
    // overflow-y: auto;
    padding: 40px 0;
    overflow-x: hidden;
    justify-content: flex-start;
    .leader-flexbox{
        padding:  0 80px ;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }
}

.popup-close-icon{
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 23px;
    width: 32px;
    height: 32px;
}
.leader-popup-image{
    z-index: 3;
    width: 204px;
    height: 204px;
    position: relative;
    display: flex;
    border-radius: 49%;
    align-self: center;
    border: 4px solid black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}
.big-image-frame-box{
    width: 476px;
    height: 636px;
    // object-fit: contain;

    // overflow: hidden;
    position: relative;
    .big-image-frame{
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;       
        width: 476px; 
        height: 636px;
        position: absolute;
        z-index: 2;
    }
    .big-image{
        position: absolute;
        z-index: 1;
        width: 476px;
        position: absolute;
        // left: 8px;
        object-fit: contain;
        height: 636px;
        border-radius: 24px;

    }
}

.officer-image{
    z-index: 2;
    left: 0;
    top: -2px;
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.leader-pa1{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    padding-top: 40px;
    span{
        &:nth-child(1){
            font-weight: bold;
            color: #383838;
            margin-bottom: 8px;
        }
        &:nth-child(2){
            color: #383838;
            font-weight: 500;
        }
    }
}
.leader-pa2{
    padding-top: 24px;
    font-size: 24px;
    line-height: 32px;
    color: #757575;
}
.contact-box{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    .youtube{
        margin-right: 40px;
        cursor: pointer;
        background-image: url('/yt-button-hover.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 130px;
        height: 80px;
    }
    .no-youtube{
       
        margin-right: 40px;
        // cursor: pointer;
        background-image: url('/yt-button.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 130px;
        height: 80px;
    }
    .row-box{
        display: flex;
    }
    
    .social-col-box{
        display: flex;
        flex-direction: column;

    .fb-box{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 32px;
        
        // margin-right: 24px;
        img{
            width: 32px;
            height: 32px;
            // object-fit: contain;
            
        }
        span{
            margin-left: 8px;
            font-family: "sukhumvit";
            font-size: 24px;
            line-height: 32px;
            padding-top: 4px;
            font-weight: bold;
        }
    }
    .ig-box{
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 32px;
        
        // margin-right: 24px;
        img{
            width: 32px;
            height: 32px;
            object-fit: cover;

        }
        span{
            font-weight: bold;
            line-height: 32px;
            margin-left: 8px;
            font-family: "sukhumvit";
            font-size: 24px;
            padding-top: 4px;
        }
    }

    }
    .link-box{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        margin: 20px auto;
        // padding-left: 24px;
        // margin-left: 24px;
        
        span{
            cursor: pointer;
            margin-left: 8px;
            font-family: "sukhumvit";
            font-size: 24px;
            padding-top: 4px;
            color: #383838;    
            text-decoration: underline;
        }
    }
    .link-box:hover{
    
        span{
            color: #7A2328;
            font-weight: bolder;
            text-decoration: underline;
        }
     
    }
}