$xs: "screen and (max-width: 767px)";
// $sm: "screen and (min-width: 576px)";
$md: "screen and (min-width: 768px)";
$lg: "screen and (min-width: 992px)";
$xl: "screen and (min-width: 1200px)";
$xxl: "screen and (min-width: 1400px)";

.officer-page {
    display: flex;
    flex-direction: column;
    background: #fbf6e9;
    font-family: "Tahoma";
    @media #{$xxl} {
        font-family: "sukhumvit";
    }
    // padding-bottom: 80px;
    .logo-box {
        display: flex;
        justify-content: center;
        padding: 16px 0;
        img {
            width: 235px;
            height: 100px;
        }
        @media #{$md} {
            padding: 32px 0;
            img{
                width: 331px;
                height: 140px;
            }
        }
        @media #{$xxl} {
            padding: 78px 0 40px 0;
            img {
                width: 470px;
                height: 200px;
            }
        }
    }
    .sm-detail-pa1 {
        display: block;
        width: 320px;
        font-size: 16px;
        line-height: 24px;
        color: #1f6397;
        margin: 0 auto;
        br{
            display: none;
        }

        @media #{$md} {
            width: 690px;
            font-size: 24px;
            line-height: 32px;
            
        }
        @media #{$xxl} {
            display: none;
        }
    }
    .sm-detail-pa2 {
        display: block;
        width: 320px;
        font-size: 16px;
        line-height: 24px;
        margin: 16px auto 32px;
        br{
            display: none;
        }
        @media #{$md} {
            margin-bottom: 40px;
            width: 690px;
            font-size: 24px;
            line-height: 32px;
        }
        color: #757575;
        a {
            // display: inline-block;
            color: #7a2328;
            cursor: pointer;
        }
        @media #{$xxl} {
            display: none;
        }
    }
    .detail-pa1 {
        color: #1f6397;
        margin: 0 auto;
        br{
            // display: none;
        }
        display: none;
        @media #{$xxl} {
            word-break: break-word;
            display: block;
            width: 1170px;
            font-size: 26px;
            line-height: 40px;
        }
    }
    .detail-pa2 {
        display: none;
        color: #757575;
        a {
            color: #7a2328;
            cursor: pointer;
        }
        @media #{$xxl} {
            word-break: break-word;
            display: block;
            margin: 40px auto;
            width: 1170px;
            font-size: 26px;
            line-height: 40px;
        }
    }
    .logo-group {
        background: rgba(225, 211, 182, 0.5);
        // display: flex;
        justify-content: center;
        padding: 16px 0 11px 0;
        height: 232px;
        @media #{$md} {
            height: 360px;
            // height: auto;
        }
        @media #{$xxl} {
            height: 232px;
            padding: 40px 0;
        }
        .wrap-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 320px;
            margin: 0 auto;
            @media #{$md} {
                width: 690px;
            }
            @media #{$xxl} {
                flex-direction: initial;
                width: auto;
                align-items: flex-start;
            }
            .logo-left-box {
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 320px;
                @media #{$md} {
                    width: 372px;
                    // width: auto;
                }
                @media #{$xxl} {
                    margin-right: 80px;
                    width: 392px;
                }
                span {
                    font-weight: bold;
                    color: #757575;
                    font-family: "sukhumvit";
                    font-size: 16px;
                    line-height: 16px;
                    margin: 11px 0 21px;
                    @media #{$md} {
                        margin: 16px 0 40px;
                    }
                    @media #{$xxl} {
                        font-size: 24px;
                        line-height: 32px;
                        margin: 16px 0 0;
                    }
                }
                .logo-rowbox-left {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 320px;
                    @media #{$md} {
                        width: 372px;
                    }
                    @media #{$xxl} {
                        width: 392px;
                    }
                    img {
                        height: 65px;
                        margin-right: 20px;
                        &:nth-child(3) {
                            height: 37px;
                            margin: 0;
                        }
                        @media #{$md} {
                            width: 104px;
                            height: 104px;
                            margin-right: 30px;
                            &:nth-child(3){
                                height: 59px;
                            }
                        }
                        @media #{$xxl} {
                            margin-right: 40px;
                            width: 104px;
                            height: 104px;
                            &:nth-child(3) {
                                width: 104px;
                                height: 60px;
                                margin: 0;
                            }
                        }
                    }
                }
            }
            .logo-right-box {
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: auto;
                width: 320px;
                @media #{$md} {
                    width: 506px;
                }
                @media #{$xxl} {
                    width: 536px;
                    margin-top: 0;
                }
                span {
                    font-weight: bold;
                    color: #757575;
                    font-family: "sukhumvit";
                    font-size: 16px;
                    line-height: 16px;
                    width: 320px;
                    margin-top: 11px;
                    @media #{$md} {
                        width: auto;
                        margin: 16px 0 24px 0;
                    }
                    @media #{$xxl} {
                        font-size: 24px;
                        line-height: 32px;
                        margin-top: 16px;
                    }
                }
                .logo-rowbox-right {
                    display: flex;
                    width: 320px;
                    justify-content: space-between;
                    @media #{$md} {
                        width: 506px;
                    }
                    @media #{$xxl} {
                        width: 536px;
                    }
                    // width: fit-content;
                    img {
                        width: 65px;
                        height: 65px;
                        // margin-right: 20px;
                        // margin: 0 20px 0 0;
                        @media #{$md} {
                            width: 104px;
                            height: 104px;
                            margin-right: 30px;
                            &:nth-child(4) {
                                margin: 0;
                            }
                        }
                        @media #{$xxl} {
                            margin-right: 40px;
                            &:nth-child(4) {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .sm-officer-box {
        flex-direction: column;
        margin: 0 auto;
        position: relative;
        justify-content: center;
        font-family: "sukhumvit";
        width: 100%;
        max-width: 320px;
        display: flex;
        @media #{$md} {
            display: none;
        }
        .banner-box {
            position: relative;
            display: flex;
            width: 280px;
            height: 88px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            justify-content: center;
            align-items: center;
            align-self: center;
            margin-top: 33px;
            margin-bottom: 8px;
            @media #{$md} {
                display: none;
            }
            @media #{$xxl} {
                display: none;
            }
            span {
                font-family: "sukhumvit";
                text-align: center;
                font-size: 24px;
                padding-bottom: 4px;
                line-height: 32px;
                color: #383838;
                font-weight: bold;
            }
        }
        .sm-row-box {
            display: flex;
            width: 320px;
            @media #{$xxl} {
                display: none;
            }
            .sm-position-box {
                img {
                    position: relative;
                    z-index: 3;
                }
            }
            .sm-center-box {
                position: relative;
                z-index: 6;
                padding: 0 10px;
                img {
                    position: relative;
                    z-index: 2;
                }

                .center-vertical-line {
                    position: absolute;
                    width: 122px;
                    height: 2px;
                    left: 0;
                    background-color: #383838;
                    // border: 4px solid #383838;
                    z-index: -1;

                    top: 50%;
                }
                .center-horizental-line {
                    position: absolute;
                    width: 2px;
                    height: 123px;
                    background-color: #383838;
                    //   border: 4px solid #383838;
                    left: 50%;
                    top: -26px;
                    z-index: -1;
                }
            }
        }
        .sm-officer-white-box{
            margin: 32px auto 16px;
            // position: relative;
            width: 320px;
            height: 24px;
            z-index: 10;
            img{
                position: absolute;
                z-index: 3;
                left: 35%;
                // display: flex;
            }
        }
        .sm-line-box{
            width: 220px;
            height: 16px;
            top: -16px;
            margin: 0 auto;
            position: relative;
            .sm-center-line{
                position: absolute;
                width: 220px;
                height: 2px;
                background: #383838;
                top: 50%;
            }
            .sm-left-line{
                position: absolute;
                height: 8px;
                width: 2px;
                background-color: #383838;
                left: 0;
                bottom: 0;
            }
            .sm-right-line{
                position: absolute;
                height: 8px;
                width: 2px;
                background-color: #383838;
                right: 0;
                bottom: 0;
            }
        }
        .sm-bottom-row-box{
            display: flex;
            position: relative;
            top: -16px;
            .sm-center-box{
                margin: 0 10px;
            }
        }
        .column-officer-box{
            width:  220px;
            margin: 32px auto 24px;
        }
        .sm-officer-list-box{
            display: flex;
            flex-direction: column;
            width: 220px;
            .sm-position-name-box{
                width: 220px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                line-height: 24px;
                background: white;
                border-radius: 8px;
                margin-bottom: 16px;
                font-weight: bold;
                border: 2px solid #383838;
            }
            .officer-name-box{
                cursor: pointer;
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;
                margin-bottom: 16px;
                &:hover{
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
        }
    }
    .officer-box {
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        font-family: "sukhumvit";
        width: 100%;
        display: none;
        @media #{$md} {
            display: flex;
        }
        .banner-box {
            position: relative;
            display: flex;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            justify-content: center;
            align-items: center;
            align-self: center;
            width: 390px;
            height: 120px;
            margin-top: 40px;
            // margin: 40px 0 36px;
            @media #{$xxl} {
                margin-top: 94px;
                width: 570px;
                height: 176px;
                
            }
            span {
                font-family: "sukhumvit";
                text-align: center;
                color: #383838;
                font-weight: bold;
                font-size: 32px;
                line-height: 40px;
                @media #{$xxl} {
                    font-size: 48px;
                    padding-bottom: 4px;
                    line-height: 88px;
                }
            }
        }
        .officer-row-box {
            display: flex;
            justify-content: center;
            text-align: center;
            margin: 0 auto;
            width: 690px;

            @media #{$xxl} {
                width: 1170px;
                
            }
            .position-box {
                color: #383838;
                position: relative;
                flex-direction: column;
                width: 220px;
                display: flex;
                width: auto;
                z-index: 5;

                .leader-vertical-line {
                    position: absolute;
                    background-color: #383838;
                    // border: 4px solid #383838;
                    z-index: 1;
                    width: 264px;
                    height: 3px;
                    top: 60px;
                    @media #{$xxl} {
                        width: 432px;
                        height: 4px;
                    }
                }
                .leader-horizental-line {
                    position: absolute;
                    width: 4px;
                    height: 80px;
                    background-color: #383838;
                    //   border: 4px solid #383838;
                    left: 50%;
                    z-index: 1;
                    top: -26px;
                    @media #{$xxl} {
                        top: -36px;
                        
                    }
                }
                .vertical-line {
                    align-self: center;
                    width: 4px;
                    background-color: #383838;
                    height: 224px;
                    // border: 4px solid #383838;
                }

                .worker-white-box {
                    align-self: center;
                    background: #fffdf8;
                    border-radius: 15px;
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                    padding: 8px 0;
                    border: 3px solid #383838;
                    width: 230px;
                    font-size: 24px;
                    line-height: 32px;
                    @media #{$xxl} {
                        border: 4px solid black;
                        width: 370px;
                        font-size: 32px;
                        line-height: 40px;
                    }
                }
                .position-name-box {
                    background: #fffdf8;
                    font-weight: bold;
                    
                    justify-content: center;
                    display: flex;
                    width: 220px;
                    border-radius: 8px;
                    border: 3px solid #383838;
                    font-size: 24px;
                    line-height: 32px;
                    padding: 5px 0;
                    margin: 36px 0 16px;
                    @media #{$xxl} {
                        border: 4px solid #383838;
                        border-radius: 15px;
                        font-size: 32px;
                        line-height: 40px;
                        width: 370px;
                        margin: 32px 0 40px 0;
                        
                    }
                }
                .position-leader-box {
                    color: #383838;
                    background: #fffdf8;
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                    z-index: 2;
                    width: 220px;
                    border-radius: 8px;
                    font-size: 24px;
                    line-height: 32px;
                    padding: 5px 0;
                    margin: 36px 15px 16px ;
                    border: 3px solid #383838;
                    @media #{$xxl} {
                        padding: 8px 0;
                        border: 4px solid black;
                        border-radius: 15px;
                        font-size: 32px;
                        line-height: 40px;
                        width: 370px;
                        margin: 32px 30px 40px 30px;
                    }
                    position: relative;
                }
                .leader-name {
                    color: #383838;
                    cursor: pointer;
                    text-align: center;
                    align-self: center;
                    justify-self: center;
                    margin-bottom: 16px;
                    display: flex;
                    span {
                        height: 32px;
                        font-weight: bold;
                        font-size: 17px;
                        line-height: 24px;
                        width: 220px;
                        @media #{$xxl} {
                            width: 322px;
                            font-size: 24px;
                            line-height: 32px;
                        }
                    }
                }
                .leader-name:hover {
                    color: #7a2328;
                    cursor: pointer;
                    text-align: center;
                    align-self: center;
                    justify-self: center;
                    margin-bottom: 16px;
                    display: flex;
                    span {

                        font-weight: bold;
                        // text-decoration: darkseagreen;
                        text-decoration: underline;
                        // color: #757575;
                        @media #{$xxl} {
                            
                            width: 322px;
                        }
                    }
                }
                .officer-name-box {
                    color: #383838;
                    cursor: pointer;
                    // text-align: start;
                    cursor: pointer;
                    font-weight: bold;
                    display: flex;
                    font-size: 17px;
                    line-height: 24px;
                    width: 220px;
                    height: 24px;
                    margin-bottom: 24px;
                    padding-left: 10px;
                    @media #{$xxl} {
                        padding-left: 22px;
                        margin-bottom: 16px;
                        height: 32px;
                        width: 322px;
                        font-size: 24px;
                        line-height: 32px;
                    }
                    &:last-child {
                        margin: 0;
                    }
                }
                .officer-name-box:hover {
                    text-decoration: underline;
                    font-weight: bolder;
                    color: #7a2328;
                }
            }
        }
        .vertical-line-box {
            align-self: center;
            position: relative;
            width: 543px;
            height: 56px;
            @media #{$xxl} {
                height: 96px;
                width: 800px;
            }
            .vertical-center-line {
                position: absolute;
                width: 4px;
                background-color: #383838;
                left: 50%;
                height: 56px;
                @media #{$xxl} {
                    height: 96px;
                    
                }
                // border: 4px solid #383838;
            }
            .horizental-line {
                position: absolute;
                height: 4px;
                width: 543px;
                @media #{$xxl} {
                    width: 800px;
                    
                }
                background-color: #383838;
                // border: 4px solid #383838;
                top: 50%;
            }
            .vertical-left-line {
                position: absolute;
                width: 4px;
                background-color: #383838;
                // border: 4px solid #383838;
                bottom: 0;
                left: 0;
                height: 28px;
                @media #{$xxl} {
                    height: 48px;
                    
                }
            }
            .vertical-right-line {
                position: absolute;
                width: 4px;
                background-color: #383838;
                // border: 4px solid #383838;
                bottom: 0;
                right: 0;
                height: 28px;
                @media #{$xxl} {
                    height: 48px;
                    
                }
            }
        }
    }
}
.popup-fixed-box {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
}

.officer-popup {
    font-family: "sukhumvit";
    z-index: 2;
    position: relative;
    height: 95%;
    width: 95%;
    // overflow-x: hidden;
    margin: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    background-image: url("/img/officer/small-popup-frame.png");
    align-items: flex-start;
    justify-content: center;
    max-width: 320px;
    max-height: 328px;
    @media #{$md} {
        width: 690px;
        height: 704px;
        max-width: 690px;
        max-height: 704px;
    }
    @media #{$xxl} {

        max-width: 770px;
        max-height: 684px;
    }
    .officer-close-icon-box {
        cursor: pointer;
        z-index: 5;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        top: 18px;
        right: 34px;
        @media #{$md} {
            right: 0;
            top: 16px;
            width: 32px;
            height: 32px;
        }
        @media #{$xxl} {
            top: 0;
            right: 12%;
            width: 40px;
            height: 40px;
        }
    }

    .officer-flexbox {
        position: relative;
        overflow-y: hidden;
        display: flex;
        padding: 30px  44px 40px;
        margin-top: 30px;
        @media #{$md} {
            margin-top: 80px;
            padding: 48px 0 ;
        }
        @media #{$xxl} {
            padding: 40px 80px 80px;
            margin-top: 100px;
        }
    }
    .officer-close-icon {
        width: 16px;
        height: 16px;
        @media #{$md} {
            width: 32px;
            height: 32px;
        }
    }
    .officer-content-box {
        display: flex;
        flex-direction: column;
        flex-direction: column;
        align-items: center;
        // overflow-y: auto;
        width: 320px;
        height: 280px;
        padding: 0 18px;
        @media #{$md} {
            width: 520px;
            height: auto;
            // height: 140px;
        }
        @media #{$xxl} {
            padding: 0 20px;
            width: 640px;
            height: 432px;
        }

        .contact-box {
            margin-top: 8px;
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-content: center;
            align-items: center;
            .youtube {
                cursor: pointer;
                background-image: url("/yt-button-hover.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 40px;
                height: 24px;
                margin-right: 16px;
                @media #{$md} {
                    width: 80px;
                    height: 48px;
                    margin-right: 32px;
                }
                @media #{$xxl} {
                    width: 130px;
                    height: 80px;
                    margin-right: 40px;
                }
            }
            .no-youtube {
                // cursor: pointer;
                background-image: url("/yt-button.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 40px;
                height: 24px;
                margin-right: 16px;
                @media #{$md} {
                    width: 80px;
                    height: 48px;
                    margin-right: 32px;
                }
                @media #{$xxl} {
                    width: 130px;
                    height: 80px;
                    margin-right: 40px;
                }
            }
            .row-box {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                @media #{$xxl} {
                    min-width: 474px;
                }
            }

            .social-col-box {
                display: flex;
                flex-direction: column;

                .fb-box {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    // margin-right: 24px;
                    height: 12px;
                    @media #{$md} {
                        height: 24px;
                    }
                    @media #{$xxl} {
                        height: 32px;
                    }
                    img {
                        width: 12px;
                        height: 12px;
                        @media #{$md} {
                            width: 24px;
                            height: 24px;
                        }
                        @media #{$xxl} {
                            width: 32px;
                            height: 32px;
                        }
                    }
                    span {
                        font-family: "sukhumvit";
                        font-weight: bold;
                        font-size: 8px;
                        line-height: 12px;
                        height: 12px;
                        margin-left: 8px;
                        padding-top: 2px;
                        @media #{$md} {
                            height: 24px;
                            font-size: 16px;
                            line-height: 24px;
                        }
                        @media #{$xxl} {
                            padding-top: 4px;
                            height: 32px;
                            font-size: 24px;
                            line-height: 32px;
                        }
                    }
                }
                .ig-box {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    height: 12px;
                    margin-top: 8px;
                    @media #{$md} {
                        height: 24px;
                        margin-top: 16px;
                    }
                    @media #{$xxl} {
                        height: 32px;
                    }
                    // margin-right: 24px;
                    img {
                        object-fit: cover;
                        width: 12px;
                        height: 12px;
                        @media #{$md} {
                            width: 24px;
                            height: 24px;
                        }
                        @media #{$xxl} {
                            width: 32px;
                            height: 32px;
                        }
                    }
                    span {
                        font-weight: bold;
                        font-family: "sukhumvit";
                        font-size: 8px;
                        line-height: 12px;
                        margin-left: 8px;
                        @media #{$md} {
                            height: 24px;
                            font-size: 16px;
                            line-height: 24px;
                        }
                        @media #{$xxl} {
                            font-size: 24px;
                            height: 32px;
                            line-height: 32px;
                            padding-top: 4px;
                        }
                    }
                }
            }
            .link-box {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 32px;
                margin: 20px auto;
                // padding-left: 24px;
                // margin-left: 24px;

                span {
                    cursor: pointer;
                    margin-left: 8px;
                    font-family: "sukhumvit";
                    font-size: 24px;
                    padding-top: 4px;
                    color: #383838;
                    text-decoration: underline;
                }
            }
            .link-box:hover {
                span {
                    color: #7a2328;
                    font-weight: bolder;
                    text-decoration: underline;
                }
            }
        }
    }
}
.officer-backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.popup-image-box {
    z-index: 3;
    position: relative;
    display: flex;
    border-radius: 49%;
    // background-color: red;
    background-repeat: no-repeat;
    background-position: center;
    // object-fit: cover;
    width: 80px;
    height: 80px;
    background-size: cover;
    border: 2px solid #383838;
    @media #{$md} {
        width: 160px;
        height: 160px;
    }
    @media #{$xxl} {
        background-size: contain;
        border: 4px solid black;
        width: 204px;
        height: 204px;
    }
}
.popup-officer-name {
    color: #383838;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 8px;
    @media #{$md} {
        font-size: 24px;
        line-height: 32px;
        margin: 16px 0;
    }
    @media #{$xxl} {
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 32px;
        margin-top: 32px;
    }
}
.officer-detail {
    display: flex;
    flex-direction: column;
    // overflow-x: hidden;

    // overflow-y: auto;
    .detail-textbox {
        display: block;
        // height: 100%;
        // height: 40px;
        color: #757575;
        font-size: 10px;
        height: 72px;
        overflow: auto;
        padding: 0 8px;
        @media #{$md} {

            padding: 8px;
            font-size: 16px;
            line-height: 24px;
            height: 180px;
            // background-color: green;

        }
        @media #{$xxl} {
            height: 100px;
            // height: auto;
            line-height: 32px;
            font-size: 24px;
            
        }
    }
    // max-height: 280px;
}
.leader-backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.leader-popup {
    font-family: "sukhumvit";
    // display: none;
    z-index: 3;

    height: 95%;
    width: 95%;
    max-width: 320px;
    margin: auto;
    display: flex;
    // max-height: 2000px;
    flex-direction: column;
    position: relative;
    background-color: #fbf6e9;
    // overflow-y: auto;
    // overflow-x: hidden;
    justify-content: flex-start;
    border-radius: 8px;
    border: 2px solid #383838;
    padding: 24px 0;
    @media #{$md} {
        max-width: 690px;
        padding: 40px 0;
        border: 4px solid #383838;
        border-radius: 16px;
    }
    @media #{$xxl} {
        max-width: 1170px;
        max-height: 900px;
        padding: 40px 0;
        
    }
    .leader-flexbox {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        padding: 16px 20px;
        @media #{$md} {
            
            padding: 16px 60px;
        }
        @media #{$xxl} {
            padding: 0 80px;
        }
    }
}

.popup-close-icon {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 8px;
    right: 8px;
    @media #{$md} {
        top: 24px;
        right: 23px;
        width: 32px;
        height: 32px;
    }
}
.leader-popup-image {
    z-index: 3;
    position: relative;
    display: flex;
    border-radius: 49%;
    align-self: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 2px solid #383838;
    width: 80px;
    height: 80px;
    @media #{$md} {
        width: 160px;
        height: 160px;
    }
    @media #{$xxl} {
        width: 204px;
        height: 204px;
        border: 4px solid black;
    }
}
.big-image-frame-box {
    width: 190px;
    height: 248px;
    margin-top: 17px;
    @media #{$md} {
        width: 330px;
        height: 424px;
    }
    @media #{$xxl} {
        margin-top: 41px;
        width: 476px;
        height: 636px;
    }
    position: relative;
    .big-image-frame {
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        // background-color: green;
        z-index: 2;
        width: 190px;
        height: 248px;
        overflow: hidden;
        background-size: contain;
        @media #{$md} {
            background-size: contain;
            width: 330px;
            height: 424px;
        }
        @media #{$xxl} {
            background-size: contain;
            width: 476px;
            height: 636px;
        }
    }
    .big-image {
        position: absolute;
        z-index: 1;
        position: absolute;
        // left: 8px;
        object-fit: contain;
        width: 190px;
        height: 248px;
        border-radius: 12px;
        @media #{$md} {
            border-radius: 24px;
            width: 330px;
            height: 424px;
        }
        @media #{$xxl} {
            border-radius: 24px;
            height: 636px;
            width: 476px;
            
        }
    }
}

.officer-image {
    z-index: 2;
    left: 0;
    top: -2px;
    position: relative;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
    @media #{$md} {
        width: 160px;
        height: 160px;
    }
    @media #{$xxl} {
        width: 200px;
        height: 200px;
    }
}
.leader-pa1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    @media #{$md} {
        padding-top: 16px;
    }
    @media #{$xxl} {
        padding-top: 40px;
    }
    span {
        &:nth-child(1) {
            font-weight: bold;
            color: #383838;
            font-size: 16px;
            line-height: 24px;
            @media #{$md} {
                margin-bottom: 8px;
                font-size: 32px;
                line-height: 40px;
            }
            @media #{$xxl} {
                line-height: 32px;
                font-size: 24px;
            }
        }
        &:nth-child(2) {
            color: #383838;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            width: 250px;
            margin: 0 auto;
            @media #{$md} {
                width: 520px;
                font-size: 24px;
                line-height: 32px;
            }
            @media #{$xxl} {
                width: auto;
                line-height: 32px;
                font-size: 24px;
            }
        }
    }
}
.leader-pa2 {
    color: #757575;
    padding-top: 16px;
    font-size: 12px;
    line-height: 16px;
    font-family: Tahoma;
    @media #{$md} {
        font-size: 16px;
        line-height: 24px;
        padding-top: 24px;
    }
    @media #{$xxl} {
        font-family: 'sukhumvit';
        font-size: 24px;
        line-height: 32px;
    }
}
.contact-box {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    @media #{$md} {
        width: auto;
        margin-top: 24px;
    }
    @media #{$xxl} {
        margin-top: 40px;
        justify-content: center;
        align-items: center;
    }
    .youtube {
        margin-right: 40px;
        cursor: pointer;
        background-image: url("/yt-button-hover.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 130px;
        height: 80px;
        @media #{$md} {
            height: 48px;
            width: 80px;
            margin-right: 32px;
        }
        @media #{$xxl} {
            @media #{$xxl} {
                width: 130px;
                height: 80px;
                margin-right: 40px;
            }
        }
    }
    .no-youtube {
        // cursor: pointer;
        background-image: url("/yt-button.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 40px;
        height: 24px;
        margin-right: 16px;
        @media #{$md} {
            height: 48px;
            width: 80px;
            margin-right: 32px;
        }
        @media #{$xxl} {
            width: 130px;
            height: 80px;
            margin-right: 40px;
        }
    }
    .row-box {
        display: flex;
        align-items: center;
        justify-content: center;
        @media #{$md} {
            align-self: flex-start;
            justify-content: flex-start;
            align-items: flex-start;
            width: auto;
        }
        @media #{$xxl} {
            align-self: center;
            justify-content: center;
            align-items: flex-start;
            // width: 312px;
        }
        width: 100%;
    }

    .social-col-box {
        display: flex;
        flex-direction: column;

        .fb-box {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            // margin-right: 24px;
            height: 12px;
            @media #{$md} {
                height: 24px;
            }
            @media #{$xxl} {
                height: 32px;
            }
            img {
                width: 12px;
                height: 12px;
                @media #{$md} {
                    height: 24px;
                    width: 24px;
                }
                @media #{$xxl} {
                    width: 32px;
                    height: 32px;
                }
                // object-fit: contain;
            }
            span {
                font-family: "sukhumvit";
                font-weight: bold;
                font-size: 8px;
                line-height: 12px;
                height: 12px;
                margin-left: 8px;
                padding-top: 2px;
                @media #{$md} {
                    font-size: 16px;
                    line-height: 24px;
                    height: 24px;
                }
                @media #{$xxl} {
                    padding-top: 4px;
                    height: 32px;
                    font-size: 24px;
                    line-height: 32px;
                }
            }
        }
        .ig-box {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 12px;
            margin-top: 8px;
            @media #{$md} {
                height: 24px;
                margin-top: 16px;
            }
            @media #{$xxl} {
                height: 32px;
                margin-top: 16px;
            }
            // margin-right: 24px;
            img {
                object-fit: cover;
                width: 12px;
                height: 12px;
                @media #{$md} {
                    width: 24px;
                    height: 24px;
                }
                @media #{$xxl} {
                    width: 32px;
                    height: 32px;
                }
            }
            span {
                font-weight: bold;
                font-family: "sukhumvit";
                line-height: 12px;
                font-size: 8px;
                margin-left: 8px;
                @media #{$md} {
                    line-height: 24px;
                    font-size: 16px;
                    height: 24px;
                }
                @media #{$xxl} {
                    line-height: 32px;
                    height: 32px;
                    font-size: 24px;
                    padding-top: 4px;
                }
            }
        }
    }
    .link-box {
        display: flex;
        align-items: center;
        justify-content: center;
        // padding-left: 24px;
        // margin-left: 24px;
        margin: 16px auto 0;
        height: 16px;
        @media #{$md} {
            height: 24px;
        }
        @media #{$xxl} {
            height: 32px;
            margin: 39px auto 0;
            
        }
        span {
            cursor: pointer;
            font-family: "sukhumvit";
            color: #383838;
            text-decoration: underline;
            font-size: 12px;
            line-height: 16px;
            font-weight: bold;
            @media #{$md} {
                font-size: 16px;
                line-height: 24px;
            }
            @media #{$xxl} {
                margin-left: 8px;
                font-size: 24px;
                padding-top: 4px;
            }
        }
    }
    .link-box:hover {
        span {
            color: #7a2328;
            font-weight: bolder;
            text-decoration: underline;
        }
    }
}
.video-section{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 40px 0;
    @media #{$md} {

    }
    @media #{$xxl} {
        margin-top: 74px;
        margin-bottom: 24px;
    }
}
.video-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.review-slider-box {
    margin: auto;
    position: relative;
    background-image: url("/img/home/video-frame.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    // margin-bottom: 64px;
    width: 320px;
    height: 216px;

    @media #{$md} {
      background-image: url('/img/home/md-video-frame.png');
      width: 510px;
      height: 344px;
    //   margin-bottom: 88px;
    }
    @media #{$xxl} {
      background-image: url("/img/home/video-frame.png");
      width: 673px;
      height: 416px;
    }
    .video-item {
      position: relative;
      // margin: 0 50px 0 0;
      display: flex;
      width: 288px;
      height: 168px;
      // top: 80px;
      margin-top: 32px;
      left: 16px;
      border-radius: 8px;
      iframe{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          max-width: 288px;
          max-height: 168px;
          @media #{$md} {
              max-width: 487px;
              max-height: 280px;
          }
          @media #{$xxl} {
              max-width: 577px;
              max-height: 320px;
          }
      }
      @media #{$md} {
          margin-left: 8px;
        width: 487px;
        height: 280px;
        border-radius: 8px;
        margin-top: 46px;
        left: 8px;
      }
      @media #{$xxl} {
        border-radius: 16px;
        margin-top: 0;
        border-radius: 16px;
        width: 577px;
        height: 382px;
        left: 40px;
        margin-top: 60px;
        // top: 110px;
      }
    }
  }
  .review-dots{
    top: 16px;
    color: #383838;
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
    font-family: 'sukhumvit';
    display: flex;
    justify-content: center;
    align-items: center;
  }