
.transpotation-page{
    background-color: #FBF6E9;
    padding-top: 62px;
    color: #383838;
}
.title {
    text-align: center;
    font-family: Sukhumvit Set;
    font-weight: bold;
    font-size: 80px;
    line-height: 88px;
    margin: 0 0 40px 0;
    // margin: auto;
}
.win-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin: auto;
    width: 100%;
    max-width: 1200px;


    .win-items {
        flex: 0 0 calc((100% - 120px)/4);
        margin: 0 15px 32px;
        width: 270px;
        cursor: pointer;
        position: relative;
        justify-self: center;
        // &:nth-child(4n) {
        //     margin-right: 0;
        //   }

    }
    .location-image-box{
        position: relative;
        text-align: center;
        padding:  0 40px;
        width: 270px;
        height: 240px;
        background-image: url("/img/publictranspotation/win_frame.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
        display: flex;

    }
    .location-image-box:hover{
        background-image: url("/img/publictranspotation/win_frame_hover.png");
    }
    .win-name{
        font-family: Sukhumvit Set ,'fc_fridayregular'  ;
        font-weight: normal;
        line-height: 40px;
        font-weight: bold;
        position: absolute;
        font-size: 32px;
        margin: auto;
        top: 87px;
        width: 190px;
    }
}
.boat-title{
    text-align: center;
    font-family: Sukhumvit Set;
    font-weight: bold;
    font-size: 80px;
    line-height: 88px;
    width: 100%;
    margin: 40px  auto 80px;
    // margin: 40px 0 80px 0;
}
.boat-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    font-family: Sukhumvit Set;
    .boat-items{
        flex: 0 0 calc((100% - 60px)/3);
        // margin:  15px 30px 40px 0;
        // justify-self: flex-start;
        margin: 20px 15px;
        width: 270px;
        cursor: pointer;
        position: relative;
        // justify-self: center;
        width: 370px;
        height: 384px;
        max-width: 370px;
        max-height: 384px;
        background-image: url("/img/publictranspotation/boat_frame.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .boat-items:hover{
        background-image: url("/img/publictranspotation/boat_frame_hover.png");
    }
    .boat-image{
        position: absolute;
        left: 22px;
        top: 22px;
        width: 322px;
        height: 256px;
        
    }
    .boat-textbox{
        position: absolute;
        top: 294px;
        left: 22px;
        max-width: 250px;

    }
    .boat-club-name{
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        margin: 0;
        max-width: 250px;
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .boat-provider-name{
        font-size: 24px;
        font-weight: 500;
        color: #757575;
        margin: 0;
        max-width: 250px;
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
.backdrop{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.win-popup{
    display: flex;
    position: relative;
    font-family: Sukhumvit Set;
    padding: 40px 80px;
    z-index: 2;
    width: 2000px;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    max-width: 1170px;
    // max-height: 528px;
    background-color: #FBF6E9;

    .location-name{
        font-size: 64px;
        font-weight: bold;
        list-style: 72px;
        color: #383838;
    }
    .location-detail{
        font-size: 24px;
        margin-bottom: 40px;
        line-height: 32px;
        color: #757575;
    }
    .driver-image {
        background-position: center;
        background-size: cover;
        border-radius: 64px;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .popup-close-icon{
        position: absolute;
        top: 20px;
        right: 24px;
        width: 32px;
        height: 32px;
    }
    .popup-win-box{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 1010px;
    }
    .popup-win-item {
        flex: 0 0 calc((100% )/5);
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 202px;
        max-width: 202px;
        height: 216px;
        margin-bottom: 40px;
        .popup-win-name{
            margin-top: 16px;
            font-size: 24px;
            line-height: 32px;
            font-weight: bold;
        }
        .popup-win-tel{
            font-weight: normal;
            font-size: 24px;
            line-height: 32px;
        }

    }
    .popup-service-text{
        justify-content: flex-end;
        display: flex;
        font-size: 24px;
        line-height: 32px;
        
    }
}
.boat-popup{
    display: flex;
    position: relative;
    font-family: Sukhumvit Set;
    padding: 40px 80px 60px 80px;
    z-index: 2;
    width: 970px;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    // max-height: 528px;
    background-color: #FBF6E9;
    
    .boat-provider-image{
        border-radius: 74px;
        width: 160px;
        height: 160px;
        
    }
    
    .slider {
        width: 100%;
        max-width: 698px;
        max-height: 562px;
        height: 262px;
        z-index: 3;
        // display: flex;

        // background-color: blue;
    }
}


