
$xs: "screen and (max-width: 767px)";
// $sm: "screen and (min-width: 576px)";
$md: "screen and (min-width: 768px)";
$lg: "screen and (min-width: 992px)";
$xl: "screen and (min-width: 1200px)";
$xxl: "screen and (min-width: 1400px)";

.transpotation-page{
    background-color: #FBF6E9;
    
    color: #383838;
}
.title {
    text-align: center;
    font-family: "sukhumvit";
    font-weight: bold;
    // margin: auto;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
    padding-top: 16px;
    @media #{$md} {
     font-size: 80px;   
     line-height: 88px;
     padding-top: 62px;
    margin-bottom: 40px;
    }
    @media #{$xxl} {
        font-size: 80px;
        line-height: 88px;
        margin: 0 0 40px 0;
        padding-top: 62px;
    }
}
.win-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin: auto;
    width: 100%;
    max-width: 320px;
    @media #{$md} {
        max-width: 690px;
        justify-content: center;
    }
    @media #{$xxl} {
        max-width: 1200px;
        
    }

    .win-items {
        color: #383838;
        cursor: pointer;
        position: relative;
        justify-self: center;
        width: 150px;
        height: 136px;
        flex: 0 0 calc((100% - 20px)/2);
        margin: 0 20px 16px 0;
        @media #{$xs} {
            &:nth-child(2n){
                margin-right: 0;
            }
        }
        @media #{$md} {
            width: 220px;
            height: 200px;
            flex: 0 0 calc((100% - 30px)/3);
            margin: 0 15px 24px 0;
            &:nth-child(3n){
                margin-right: 0;
            }


        }
        @media #{$xxl} {
            flex: 0 0 calc((100% - 120px)/4);
            margin: 0 15px 32px;
            width: 270px;
            height: 240px;
        }
    }
    .location-image-box{
        position: relative;
        text-align: center;

        background-image: url("/img/publictranspotation/win_frame.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 150px;
        height: 136px;
        @media #{$md} {
            width: 220px;
            height: 200px;
        }
        @media #{$xxl} {
            background-size: cover;
            padding:  0 40px;
            width: 270px;
            height: 240px;
        }
    }
    .location-image-box:hover{
        background-image: url("/img/publictranspotation/win_frame_hover.png");
    }
    .win-name{
        font-family: "sukhumvit" ,'fc_fridayregular'  ;
        font-weight: normal;
        font-weight: bold;
        position: absolute;
        margin: auto;
        white-space: pre-wrap;
        font-size: 16px;
        line-height: 24px;
        top: 42px;
        padding: 0 14px;
        @media #{$md} {
            top: 70px;
            max-width: 188px;
            font-size: 24px;
            line-height: 24px;
        }
        @media #{$xxl} {
            max-width: 248px;
            line-height: 40px;
            font-size: 32px;
            top: 87px;
            padding: 0 31px;
            // width: 232px;
        }
    }
}
.boat-title{
    text-align: center;
    font-family: "sukhumvit";
    font-weight: bold;
    width: 100%;
    // margin: 40px 0 80px 0;
    font-size: 24px;
    line-height: 32px;
    margin: 32px auto 16px;
    @media #{$md} {
        font-size: 40px;
        line-height: 48px;
        margin: 32px auto;
    }
    @media #{$xxl} {
        font-size: 80px;
        line-height: 88px;
        margin: 40px  auto 80px;
    }
}
.boat-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    width: 100%;
    font-family: "sukhumvit";
    max-width: 320px;
    @media #{$md} {
        max-width: 690px;
    }
    @media #{$xxl} {
        max-width: 1200px;
        
    }
    .boat-items{
        cursor: pointer;
        // position: relative;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        max-width: 150px;
        max-height: 204px;
        padding: 6.5px;
        margin: 0 20px 16px 0;
        flex: 0 0 calc((100% - 21.5px)/2);
        background-size: cover;
        padding: 7px;
        background-image: url('/img/publictranspotation/sm-boat-frame.png');
        @media #{$xs} {
            &:nth-child(2n){
                margin-right: 0;
            }
        }
        @media #{$md} {
            background-image: url('/img/publictranspotation/md-boat-frame.png');
            max-width: 220px;
            max-height: 304px;
            flex: 0 0 calc((100% - 30px)/3);
            margin: 0 15px 24px 0;
            width: 220px;
            height: 304px;
            padding: 14.5px;
            &:nth-child(3n){
                margin-right: 0;
            }
        }
        @media #{$xxl} {
            background-image: url("/img/publictranspotation/boat_frame.png");
            flex: 0 0 calc((100% - 60px)/3);
            background-size: cover;
            margin: 20px 15px;
            padding: 22px;
            width: 370px;
            height: 384px;
            max-width: 370px;
            max-height: 384px;
        }
    }
    .boat-items:hover{
        background-image: url('/img/publictranspotation/sm-boat-frame-hover.png');
        @media #{$md} {
            background-image: url('/img/publictranspotation//md-boat-frame-hover.png');
        }
        @media #{$xxl} {
            background-image: url("/img/publictranspotation/boat_frame_hover.png");
        }
    }
    .boat-image{
        // position: relative;
        width: 134px;
        height: 132px;
        border-radius: 4px;
        margin-bottom: 8px;
        @media #{$md} {
            width: 188px;
            height: 184px;
            border-radius: 4px;
        }
        @media #{$xxl} {
            border-radius: 0;
            left: 22px;
            top: 22px;
            width: 322px;
            height: 256px;
        }
    }
    .boat-textbox{
        display: flex;
        flex-direction: column;
        max-width: 250px;

    }
    .boat-club-name{
        font-weight: bold;
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 16px;
        line-height: 24px;
        width: 100%;
        max-width: 134px;
        @media #{$md} {
            font-size: 16px;
            line-height: 24px;
            margin: 8px 0;
            max-width: 188px;
        }
        @media #{$xxl} {
            font-size: 24px;
            line-height: 32px;
            margin: 16px 0 0 ;
            max-width: 250px;
        }
    }
    .boat-provider-name{
        font-weight: 500;
        color: #757575;
        margin: 0;
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        max-width: 134px;
        @media #{$md} {
            font-size: 16px;
            line-height: 24px;
            max-width: 188px;
        }
        @media #{$xxl} {
            line-height: 32px;
            font-size: 24px;
            max-width: 250px;
        }
    }
}
.backdrop{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.popup-fixed-box {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
}
.win-popup{
    display: flex;
    position: relative;
    height: auto;
    max-height: 95%;
    font-family: "sukhumvit";
    z-index: 2;
    border: 4px solid #383838;
    width: 95%;
    margin: auto;
    align-items: center;
    flex-direction: column;
    // max-height: 528px;
    background-color: #FBF6E9;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 320px;
    border-radius: 8px;
    border: 2px solid #383838;
    padding: 16px 20px;
    @media #{$md} {
        max-width: 690px;
    }
    @media #{$xxl} {
        max-width: 1170px;
        padding: 40px 80px;
        border-radius: 16px;
    }
    .location-name{
        font-weight: bold;
        color: #383838;
        font-size: 16px;
        line-height: 24px;
        @media #{$md} {
            font-size: 40px;
            line-height: 48px;
            margin-bottom: 8px;
        }
        @media #{$xxl} {
            margin-bottom: 16px;
            font-size: 64px;
            line-height: 72px;    
        }
    }
    .location-detail{
        font-size: 16px;
        line-height: 24px;
        color: #383838;
        margin-bottom: 16px;
        width: 256px;
        display: flex;
    
        img{
            width: 16px;
            height: 16px;
            margin-right: 8px;
            @media #{$md} {
                width: 24px;
                height: 24px;
                margin-right: 8px;
            }
            @media #{$xxl} {
                margin-right: 16px;
                width: 32px;
                height: 32px;
            }
        }
        @media #{$md} {
            margin-bottom: 24px;
            max-width: 570px;
            width: 570px;
            font-size: 24px;
            line-height: 32px;
            text-align: start;
        }
        @media #{$xxl} {
            width: auto;
            color: #757575;
            max-width: unset;
            font-size: 24px;
            margin-bottom: 40px;
            line-height: 32px;
        }
    }
    .driver-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 80%;
        overflow: hidden;
        width: 80px;
        height: 80px;
        border: 2px solid #383838;
        z-index: 2;
        img{
            border-radius: 100%;
            width: 80px;
            height: 80px;
        }
        @media #{$xxl} {
            background-size: cover;
            width: 136px;
            border: 3px solid #383838;
            height: 136px;
            img{
                width: 136px;
                height: 136px;
            }
        }
    }

    .popup-win-box{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
        width: 272px;
        max-height: 432px;
        overflow-y: auto;
        @media #{$md} {
            width: 520px;
        }
        @media #{$xxl} {
            width: 1010px;
            max-height: 432px;
        }

    }
    .win-flexbox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        // height: 100%;
    }
    .popup-win-item {
        color: #383838;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        flex: 0 0 calc((100% - 12px) /2);
        width: 130px;
        height: auto;
        margin: 0 12px 16px 0;
        
        @media #{$xs} {
            &:nth-child(2n){
                margin-right: 0;
            }
        }
        @media #{$md} {
            flex: 0 0 calc((100% - 60px)/3);
            width: 150px;
            // height: 136px;
            height: auto;
        }
        @media #{$xxl} {
            flex: 0 0 calc((100% )/5);
            width: 202px;
            max-width: 202px;
            // height: 216px;
            height: auto;
            margin-bottom: 40px;
        }
        .popup-win-name{
            font-size: 16px;
            line-height: 24px;
            margin-top: 8px;
            color: #383838;
            font-weight: bold;
            overflow: hidden;
            // white-space: pre;
            @media #{$md} {
                // width: 150px;
                font-size: 16px;
                line-height: 24px;
            }
            @media #{$xxl} {
                margin-top: 16px;
                font-size: 24px;
                line-height: 32px;
            }
        }
        .popup-win-tel{
            color: #383838;
            font-size: 16px;
            line-height: 24px;
            font-weight: normal;
            @media #{$xxl} {
                font-size: 24px;
                line-height: 32px;
            }
        }

    }
    .popup-service-box{
        color: #383838;
        justify-content: flex-end;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        line-height: 16px;
        margin-top: 16px;
        div{
            &:nth-child(1){
                margin-bottom: 8px;
            }
        }
        img{
            width: 16px;
            height: 16px;
            margin-right: 8px;
            @media #{$xxl} {
                width: 32px;
                height: 32px;
                margin-right: 16px;
            }
        }
        @media #{$md} {
            div{
                &:nth-child(1){
                    margin-right: 24px;
                    margin-bottom: 0;
                }
            }
            flex-direction: row;
        }
        @media #{$xxl} {
            margin-top: 24px;
            font-size: 24px;
            line-height: 32px;
            div{
                &:nth-child(1){
                    margin-right: 24px;
                    margin-bottom: 0;
                }
            }
        }
        
    }
}
.popup-close-icon{
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 8px;
    top: 8px;
    @media #{$md} {
        top: 24px;
        right: 24px;
        width: 32px;
        height: 32px;
    }
}
.boat-popup{
    display: flex;
    position: relative;
    font-family: "sukhumvit";
    height: auto;
    margin: auto;
    z-index: 2;
    width: 95%;
    align-items: center;
    flex-direction: column;
    background-color: #FBF6E9;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 8px;
    border: 2px solid #383838;
    max-width: 320px;
    max-height: 95%;

    @media #{$md} {
        max-width: 690px;
        border-radius: 16px;
        padding: 40px 50px 44px;
        border: 4px solid #383838;
    }
    @media #{$xxl} {
       
        max-width: 970px;
    }
    .boat-d-flex{
        display: flex;
        // align-items: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 280px;

        // padding: 0 20px;
        margin: 0 auto;
        margin-bottom: 16px;
        @media #{$md} {
            width: 570px;
            margin-bottom: 44px;
            padding: 0;
        }
        @media #{$xxl} {
            flex-direction: initial;
            width: 810px;
            margin-bottom: 40px;
        }
    }
    .boat-column-box{
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        height: 100%;
        padding: 16px 20px 32px;
        @media #{$md} {
            // width: 570px;
            padding: 40px 0 44px;
        }
        @media #{$xxl} {
            width: 970px;
             padding: 40px 80px 60px 80px;
        }
    }
    .popup-club-name {
        white-space: pre-wrap;
        width: 100%;
        text-align: center;
        // max-width: 500px;
        // height: 48px;
        font-weight: bold;
        color: #383838;
        font-size: 16px;
        line-height: 24px;
        @media #{$md} {
            font-size: 40px;
            line-height: 48px;
        }
    }

    .popup-boat-name{
        width: 100%;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
        @media #{$md} {
            font-size: 24px;
            line-height: 32px;
            color: #757575;
            margin-bottom: 32px;
        }
        @media #{$xxl} {
            max-width: 500px;
            height: 40px;
            font-size: 32px;
            line-height: 40px;
        }
    }


    .provider-detail-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 280px;
        margin: 0 auto;
        @media #{$xxl} {
            border-right: 4px solid #383838;
            width: 278px;
            
        }
    }
    .boat-provider-image{
        // border-radius: 50%;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        // border-radius: 64px;
        background-repeat: no-repeat;
        width: 80px;
        height: 80px;
        margin-bottom: 8px;
        border-radius: 76px 76px 74px 74px;
        @media #{$md} {
            margin-bottom: 16px;
            width: 160px;
            height: 160px;
        }
        
    }
    .boat-detail-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 280px;
        @media #{$md} {
            width: 570px;
            height: auto;;
        }
        @media #{$xxl} {
            // padding: 16px 30px;
            padding-left: 24px;
            width: auto;
            height: auto;
        }
    }
    .provider-name-box{
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #383838;

    }
    .provider-name-box p {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        width: 150px;
        margin: 0 auto;
        color: #383838;
        @media #{$md} {
            font-size: 24px;
            line-height: 32px;
        }
        @media #{$xxl} {
            margin: 0;
            width: 254px;
            font-size: 24px;
            line-height: 32px;
            // margin-top: 16px;
            
        }
    }
    .provider-name-box span{
        font-size: 16px;
        line-height: 24px;
        color: #383838;
        @media #{$md} {
            color: #757575;
            line-height: 32px;
            font-size: 24px;
        }
        @media #{$xxl} {
            max-width: 254px;
        }
    }
    .boat-driver-box{
        color: #383838;
        background: rgba(225, 211, 182, 0.5);
        width: 280px;
        font-size: 16px;
        line-height: 24px;
        padding: 8px 16px;
        height: 64px;
        margin-bottom: 8px;
        @media #{$md} {
            width: 570px;
            font-size: 16px;
            line-height: 32px;
        }
        @media #{$xxl} {
            width: 508px;
            height: 80px;
            line-height: 32px;
            padding: 8px 16px;
            font-size: 24px;
            margin: 0 0 8px;
        }
    }

    .text-column-box{
        display: flex;
        color: #383838;
        width: 280px;
        height: 20px;
        margin-bottom: 8px;
        @media #{$md} {
            margin-bottom: 8px;
            height: 32px;
            width: auto;
            align-self: start;
            padding-left: 30px;
        }
        @media #{$xxl} {
            padding-left: 16px;
            width: auto;
            height: 32px;
        }
        .boat-left-text {
            width: 155px;
            font-size: 16px;
            line-height: 24px;
            
            @media #{$md} {
                width: 260px;
                margin-right: 10px;
                font-size: 24px;
                line-height: 32px;    
            }
            @media #{$xxl} {
                margin-right: 0;
                width: 238px;
            }
        }
        .boat-right-text{
            font-weight: bold;
            width: 120px;
            font-size: 16px;
            line-height: 24px;
            @media #{$md} {
                width: 260px;
                font-size: 24px;
                line-height: 32px;
            }
            @media #{$xxl} {
                width: 238px;
            }
        }
        &:nth-child(4n) {
                margin-bottom: 0;
              }
    }

    .boat-image-box{
        display: block;
        width: 280px;
        height: 256px;
        @media #{$md} {
            width: 570px;
            height: 488px;
        }
        @media #{$xxl} {
            width: 810px;
            height: 560px;
        }
    }

    .slider {
        position: relative;
        margin: 0 auto;
        // display: flex;
        // background-color: blue;
        width: 100%;
        height: 100%;
        max-width: 280px;
        max-height: 256px;
        @media #{$md} {
            width: auto;
            height: auto;
            max-width: 570px;
            max-height: 488px;
        }
        @media #{$md} {
            max-width: 698px;
            max-height: 560px;
        }
        @media #{$xxl} {
            width: 810px;
            height: 560px;
        }
        .slider-box {
            position: relative;
            max-width: 690px;
            
        }
        .slider-image{
            display: block;
            position: relative;
            background-position: center;
            background-size: cover;
            // background-size: contain;
            background-repeat: no-repeat;
            // margin: auto;
            text-align: center;
            color: white;
            width: 280px;
            height: 240px;
            border-radius: 8px;
            @media #{$md} {
                width: 570px;
                height: 448px;
            }
            @media #{$xxl} {
                width: 698px;
                height: 560px;
                border-radius: 24px;
            }
        }
    }


}



