
.transpotation-page{
    background-color: #FBF6E9;
    
    color: #383838;
}
.title {
    text-align: center;
    font-family: "sukhumvit";
    font-weight: bold;
    font-size: 80px;
    line-height: 88px;
    margin: 0 0 40px 0;
    padding-top: 62px;
    // margin: auto;
}
.win-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin: auto;
    width: 100%;
    max-width: 1200px;


    .win-items {
        color: #383838;
        flex: 0 0 calc((100% - 120px)/4);
        margin: 0 15px 32px;
        width: 270px;
        cursor: pointer;
        position: relative;
        justify-self: center;
        // &:nth-child(4n) {
        //     margin-right: 0;
        //   }

    }
    .location-image-box{
        position: relative;
        text-align: center;
        padding:  0 40px;
        width: 270px;
        height: 240px;
        background-image: url("/img/publictranspotation/win_frame.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
        display: flex;

    }
    .location-image-box:hover{
        background-image: url("/img/publictranspotation/win_frame_hover.png");
    }
    .win-name{
        font-family: "sukhumvit" ,'fc_fridayregular'  ;
        font-weight: normal;
        line-height: 40px;
        font-weight: bold;
        position: absolute;
        font-size: 32px;
        margin: auto;
        top: 87px;
        white-space: pre-wrap;
        padding: 0 31px;
        width: 208px;
    }
}
.boat-title{
    text-align: center;
    font-family: "sukhumvit";
    font-weight: bold;
    font-size: 80px;
    line-height: 88px;
    width: 100%;
    margin: 40px  auto 80px;
    // margin: 40px 0 80px 0;
}
.boat-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    font-family: "sukhumvit";
    .boat-items{
        flex: 0 0 calc((100% - 60px)/3);
        // margin:  15px 30px 40px 0;
        // justify-self: flex-start;
        margin: 20px 15px;
        cursor: pointer;
        position: relative;
        // justify-self: center;
        width: 370px;
        height: 384px;
        max-width: 370px;
        max-height: 384px;
        background-image: url("/img/publictranspotation/boat_frame.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .boat-items:hover{
        background-image: url("/img/publictranspotation/boat_frame_hover.png");
    }
    .boat-image{
        position: absolute;
        left: 22px;
        top: 22px;
        width: 322px;
        height: 256px;
        
    }
    .boat-textbox{
        position: absolute;
        top: 294px;
        left: 22px;
        max-width: 250px;

    }
    .boat-club-name{
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        margin: 0;
        max-width: 250px;
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .boat-provider-name{
        font-size: 24px;
        font-weight: 500;
        color: #757575;
        margin: 0;
        max-width: 250px;
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
.backdrop{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.popup-fixed-box {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
}
.win-popup{
    display: flex;
    position: relative;
    height: auto;
    max-height: 95%;
    font-family: "sukhumvit";
    padding: 40px 80px;
    z-index: 2;
    border: 4px solid #383838;
    border-radius: 16px;
    width: 100%;
    margin: auto;
    align-items: center;
    flex-direction: column;
    max-width: 1170px;
    // max-height: 528px;
    background-color: #FBF6E9;
    overflow-y: auto;
    overflow-x: hidden;

    .location-name{
        font-size: 64px;
        font-weight: bold;
        list-style: 72px;
        color: #383838;
    }
    .location-detail{
        font-size: 24px;
        margin-bottom: 40px;
        line-height: 32px;
        color: #757575;
    }
    .driver-image {
        background-position: center;
        background-size: cover;
        border-radius: 64px;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .popup-win-box{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 1010px;
        height: 100%;
        
        max-height: 432px;
        // border: 2px solid red;
        overflow-y: auto;

    }
    .win-flexbox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        // height: 100%;
    }
    .popup-win-item {
        color: #383838;
        flex: 0 0 calc((100% )/5);
        display: flex;
        align-items: center;
        flex-direction: column;
        
        text-align: center;
        width: 202px;
        max-width: 202px;
        height: 216px;
        margin-bottom: 40px;
        .popup-win-name{
            margin-top: 16px;
            font-size: 24px;
            line-height: 32px;
            font-weight: bold;
        }
        .popup-win-tel{
            font-weight: normal;
            font-size: 24px;
            line-height: 32px;
        }

    }
    .popup-service-text{
        margin-top: 16px;
        color: #383838;
        justify-content: flex-end;
        display: flex;
        font-size: 24px;
        line-height: 32px;
        
    }
}
.popup-close-icon{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 24px;
    width: 32px;
    height: 32px;
}
.boat-popup{
    display: flex;
    position: relative;
    font-family: "sukhumvit";
    padding: 40px 80px 60px 80px;
    height: auto;
    max-height: 95%;
    margin: auto;
    border: 4px solid #383838;
    border-radius: 16px;
    z-index: 2;
    width: 970px;
    // max-height: 1000px;
    align-items: center;
    flex-direction: column;
    // max-height: 528px;
    background-color: #FBF6E9;
    overflow-x: hidden;
    overflow-y: auto;
    // margin-bottom: 100px;
    .popup-club-name {
        white-space: pre-wrap;
        width: 100%;
        text-align: center;
        // max-width: 500px;
        // height: 48px;
        font-size: 40px;
        line-height: 48px;
        font-weight: bold;
        color: #383838;
    }

    .popup-boat-name{
        margin-bottom: 36px;
        width: 100%;
        max-width: 500px;
        height: 40px;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        color: #757575;
    }

    .boat-d-flex{
        display: flex;
        // align-items: flex-start;
        width: 810px;
        margin-bottom: 67px;
        align-items: flex-start;
    }
    .provider-detail-box {
        display: flex;
        flex-direction: column;
        width: 278px;
        justify-content: center;
        align-items: center;
        border-right: 4px solid #383838;
        
    }
    .boat-provider-image{
        // border-radius: 50%;
        border-radius: 76px 76px 74px 74px;
        overflow: hidden;
        width: 160px;
        height: 160px;
        background-position: center;
        background-size: cover;
        // border-radius: 64px;
        background-repeat: no-repeat;
        
    }
    .boat-detail-box{
        display: flex;
        padding-left: 24px;
        flex-direction: column;
        align-items: center;
    }
    .provider-name-box{
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        text-align: center;
        font-size: 24px;
        line-height: 32px;
        color: #383838;
        
    }
    .provider-name-box p {
        margin: 0;
        font-weight: bold;
        width: 254px;
        line-height: 32px;
    }
    .provider-name-box span{
        width: 254px;
        color: #757575;
        line-height: 32px;
    }
    .boat-driver-box{
        color: #383838;
        width: 508px;
        height: 80px;
        line-height: 32px;
        padding: 8px 16px;
        background: rgba(225, 211, 182, 0.5);
        font-size: 24px;
        margin: 4px 0 ;
        
    }

    .text-column-box{
        width: 476px;
        height: 32px;
        display: flex;
        margin-bottom: 8px;
        color: #383838;
        .boat-left-text {
            width: 238px;
            font-size: 24px;
            line-height: 32px;
        }
        .boat-right-text{
            width: 238px;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
        }
        &:nth-child(4n) {
                margin-bottom: 0;
              }
    }

    .boat-image-box{
        width: 810px;
        height: 560px;
        display: block;
        // margin: auto;
        // display: flex;
        // flex-direction: column
        // overflow: hidden;
    }

    .slider {
        position: relative;
        max-width: 692px;
        max-height: 560px;
        margin: 0 auto;
        // display: flex;
        // background-color: blue;
        .slider-box {
            position: relative;
            max-width: 690px;
    
        }
        .slider-image{
            display: block;
            position: relative;
            background-position: center;
            background-size: cover;
            // background-size: contain;
            background-repeat: no-repeat;
            // margin: auto;
            text-align: center;
            color: white;
            // max-width: 698px;
            width: 698px;
            height: 560px;
            border-radius: 24px;
            // content: '';
        
        }
    }


}



