.restaurant-page {
    background-color: #FBF6E9;
    
    color: #383838;
    font-family: "sukhumvit";
    
    .page-title-box{
        width: 100%;
        height: 432px;
        display: flex;
        margin-bottom: 16px;
        position: relative;
        text-align: center;
        font-size: 80px;
        font-weight: bold;
        line-height: 88px;
        justify-content: center;
        // align-items: center;
        span{
            position: relative;
            top: 118px;
        }
        .header-line{
            position: absolute;
            width: 100%;
            height: 10px;
            background: linear-gradient(180deg, rgba(225, 211, 182, 0.5) 0%, rgba(225, 211, 182, 0) 100%);
        }
        .title-top-left{
        position: absolute;
        top: 0;
        left: 0;
        }
        .title-top-right{
        position: absolute;
        top: 0;
        right: 0;
        }
        .title-bottom-left{
        position: absolute;
        bottom: 0;
        left: 0;
        }
        .title-bottom-right{
        position: absolute;
        bottom: 0;
        right: 0;
        }
    }
    
    .restaurant-column{
        display: flex;
        flex-direction: column;
        padding-bottom: 80px;
    }

    .restaurant-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        margin: auto;
        max-width: 1158px;
        // height: 20px;
        // margin: 0 auto;
    }

    .restaurant-item {
        flex: 0 0 calc(( 100% - 60px)/3);
        display: flex;
        flex-direction: column;
        background: #FFFDF8;
        border: 4px solid #383838;
        margin: 0px 30px 40px 0;
        padding: 22px 7px 24px 22px;
        width: 366px;
        height: 550px;
        max-width: 366px;
        cursor: pointer;
        position: relative;
        justify-items: center;
        // align-items: center;
        text-align: start;
        span{
            text-align: start;
            white-space: pre-wrap;
            line-break: loose;
            word-break: break-all;
            line-height: 40px;
            font-size: 24px;
            &:nth-child(2){
                width: 330px;
                height: 48px;
                line-height: 48px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: pre;
                font-weight: bold;
                font-size: 32px;
                // color: red;
            }
            &:nth-child(3){
                line-height: 32px;
                height: 32px;
                width: 330px;
                color: #757575;
                overflow: hidden;
                white-space: pre;
                text-overflow: ellipsis;
            }
            &:nth-child(4){
                height: 80px;
                width: 330px;
                white-space: pre-wrap;
                color: #757575;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

    &:nth-child(3n){
        margin-right: 0;
    }
    .restaurant-image{
        width: 322px ;
        height: 322px;
        margin-right: 22px;
        border-radius: 16px;
        object-fit: cover;
        align-self: center;
        margin-bottom: 24px;
    }
}
.restaurant-item:hover{
    background-color: #E1d3B6;
}
}
.load-content-text{
    font-size: 32px;
    font-weight: bold;
    align-self: center;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;
    width: 122px;
    height: 40px;
}
.backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.restaurant-popup{
    display: flex;
    width: 1170px;
    height: 832px;
    font-family: "sukhumvit";
    z-index: 3;
    padding: 40px 80px;
    background-color: #FBF6E9;
    border: 4px solid #383838;
    box-sizing: border-box;
    border-radius: 16px;
    position: relative;
    justify-content: center;
    .popup-close-icon{
    position: absolute;
    top: 20px;
    right: 24px;
    width: 32px;
    height: 32px;
    }
    .restaurant-flexbox{
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 752px;
    }
    .popup-name-box{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        span {
            &:nth-child(1){
                font-size: 48px;
                font-weight: bold;
                line-height: 56px;
                text-align: center;
                color: #383838;
                margin-bottom: 8px;
            }
            &:nth-child(2){
                color: #757575;
                font-size: 20px;
                line-height: 32px;
                margin-bottom: 8px;
            }
        }
    }

    .location-box{
        text-align: center;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        img{
            margin-right: 16px;
        }
    }
    .row-box{
        display: flex;
        margin-top: 39px;
        .image-box{
            width: 485px;
            height: 504px;
            margin-right: 40px;
            position: relative;
            .big-image{
                object-fit: cover;
                width: 485px;
                height: 406px;
                border-radius: 16px;
                margin-bottom: 8px;
            }
            .no-image{
                top: 2px;
                object-fit: cover;
                border-radius: 16px;
                width: 485px;
                height: 504px;
            }
            .prev,
            .next {
              cursor: pointer;
              position: absolute;
              top: 40%;
              width: auto;
              padding: 16px;
              margin-top: -50px;
              color: black;
              font-weight: bold;
              font-size: 20px;
              border-radius: 0 3px 3px 0;
              user-select: none;
              -webkit-user-select: none;
              text-decoration: none;

            }
            .next{
                right: 0;
                border-radius: 3px 0 0 3px;
            }
            .prev:hover{
                background-color: rgba(0, 0, 0, 0.8);
                color: wheat;
            }
            .next:hover{
                    background-color: rgba(0, 0, 0, 0.8);
                    color: wheat;
            }
            .image-list{
                display: flex;
                overflow-y: auto;
                width: 485px;
                img{
                    display: flex;
                    object-fit: cover;
                    margin-right: 8px;
                    width: 90px;
                    height: 90px;
                }
            }
        }
        .recommend-box{
            font-size: 24px;
            line-height: 40px;
            width: 485px;
            color: #757575;
            height: 80px;
            width: 485px;
            margin-bottom: 24px;
        }
        .food-price-box{
            width: 485px;
            font-size: 24px;
            margin-bottom: 16px;
            height: 32px;
            span{
                width: 138px;
                margin-right: 50px;
                b{
                    width: 138px;
                }
            }
        }
        .drink-price-box{
            width: 485px;
            height: 32px;
            font-size: 24px;
            margin-bottom: 24px;
            span{
                width: 138px;
                margin: 24px;
                margin-left: 0;
            }
        }
        .time-box{
            display: flex;
            width: 485px;
            height: 32px;
            font-size: 24px;
            margin-bottom: 24px;
            img{
                margin-right: 8px;
            }
        }
    }
    .service-box{
        display: flex;
        flex-wrap: wrap;
        width: 485px;
        height: 240px;
        padding: 32px 37px;
        background: rgba(225, 211, 182, 0.5);
        border-radius: 16px;
    }
    .icon-box{
        display: flex;
        flex: 0 0 calc(( 100% )/4);
        max-height: 48px;
        text-align: center;
        align-items: center;
        // flex-wrap: wrap;
        width: 121px;
        flex-direction: column;
        img{
            margin-bottom: 8px;
            width: 48px;
            height: 48px;
        }
        span {
            color: #383838;
            font-size: 16px;
            line-height: 24px;
        }
    }
    .contact-box{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px 0 auto;
        // margin-top: 40px;
        .contact-item{
            align-items: center;
            display: flex;
            justify-content: center;
            img{
                width: 24px;
                height: 24px;
                vertical-align: middle;
            }
            display: flex;
            justify-content: center;
            margin: 0 24px;
            span{
                margin-left: 8px;
                font-size: 24px;
                line-height: 32px;
            }

        }
    }
}
