
$xs: "screen and (max-width: 767px)";
// $sm: "screen and (min-width: 576px)";
$md: "screen and (min-width: 768px)";
$lg: "screen and (min-width: 992px)";
$xl: "screen and (min-width: 1200px)";
$xxl: "screen and (min-width: 1400px)";

.restaurant-page {
    background-color: #FBF6E9;
    
    color: #383838;
    font-family: "sukhumvit";
    
    .page-title-box{
        width: 100%;
        display: flex;
        position: relative;
        text-align: center;
        font-weight: bold;
        justify-content: center;
        // align-items: center;
        height: 32px;
        font-size: 24px;
        line-height: 32px;
        height: 112px;
        margin-bottom: 8px;
        @media #{$md} {
            height: 224px;
            font-size: 40px;
            line-height: 48px;
            margin-bottom: 16px;
        }
        @media #{$xxl} {
            height: 446px;
            line-height: 88px;
            font-size: 80px;
        }
        span{
            position: relative;
            top: 24px;
            height: 32px;
            @media #{$md} {
            top: 40px;
            }
            @media #{$xxl} {
                top: 118px;
                
            }
        }
        .title-bg-top{
            display: none;
            position: absolute;
            width: 1440px;
            height: 344px;
        }
        .small-cloude{
            position: absolute;
            width: 68px;
            height: 27px;
            bottom: 24px;
            left: 83px;
            // display: none;
            @media #{$md} {
            left: 178px;
            bottom: 48px;
            width: 144px;
            height: 56px;
            }
            @media #{$xxl} {
                width: 270px;
                height: 104px;
                bottom: 88px;
                left: 332px;
            }
        }
        .title-top-left{
        position: absolute;
        top: 0;
        left: 0;
        width: 77px;
        height: 43px;
        @media #{$md} {
            width: 168px;
            height: 96px;   
        }
        @media #{$xxl} {
            width: 305px;
            height: 168px;
        }
        }
        .title-top-right{
        position: absolute;
        top: 0;
        right: 0;
        width: 127px;
        height: 48px;
        @media #{$md} {
         width: 272px;
         height: 104px;   
        }
        @media #{$xxl} {
            width: 505px;
            height: 184px;
        }
        }
        .title-bottom-left{
            // display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 130px;
        height: 80px;
        @media #{$md} {
         width: 273px;
         height: 168px;   
        }
        @media #{$xxl} {
            width: 505px;
            height: 320px;
        }
        }
        .title-bottom-right{
            // display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 104px;
        height: 104px;
        @media #{$md} {
         width: 216px;
         height: 216px;   
        }
        @media #{$xxl} {
            width: 434px;
            height: 432px;
        }
        }
    }
    
    .restaurant-column{
        display: flex;
        flex-direction: column;
        // padding-bottom: 80px;
    }

    .restaurant-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        margin: auto;
        max-width: 1158px;
        // height: 20px;
        // margin: 0 auto;
        // display: none;
    }

    .restaurant-item {

        color: #383838;
        display: flex;
        flex-direction: column;
        background: #FFFDF8;
        cursor: pointer;
        position: relative;
        justify-items: center;
        // align-items: center;
        text-align: start;
        border: 2px solid #383838;
        flex: 0 0 calc((100% - 20px) /2);
        width: 150px;
        height: 256px;
        margin: 0 20px 16px 0;
        padding: 7px;
        &:nth-child(2n){
            @media #{$xs} {
                margin-right: 0;
            }
        }
        &:nth-child(3n){
            @media #{$md} {
                margin-right: 0;
            }
        }
        @media #{$md} {
         flex: 0 0 calc((100% - 30px)/3);   
         width: 220px;
         height: 368px;
         margin-right: 15px;
         padding: 14.5px 14.5px 22.5px;
        }
        @media #{$xxl} {
            border: 4px solid #383838;
            flex: 0 0 calc(( 100% - 60px)/3);
            margin: 0px 30px 40px 0;
            padding: 22px 22px 24px 22px;
            width: 366px;
            height: 550px;
            max-width: 366px;
            
        }
        .restaurant-image{
            // display: none;
            object-fit: cover;
            align-self: center;
            width: 134px;
            height: 134px;
            border-radius: 4px;
            margin-bottom: 10px;
            @media #{$md} {
                width: 188px;
                height: 184px;
            }
            @media #{$xxl} {
                width: 322px ;
                height: 322px;
                // margin-right: 22px;
                border-radius: 16px;
                margin-bottom: 24px;
                
            }
        }


        span{
            text-align: start;
            white-space: pre-wrap;
            line-break: loose;
            word-break: break-all;
            font-size: 16px;
            line-height: 24px;
            @media #{$xxl} {
                line-height: 40px;
                font-size: 24px;
                
            }
            &:nth-child(2){
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: pre;
                font-weight: bold;
                // color: red;
                width: 134px;
                height: 48px;
                font-size: 16px;
                line-height: 24px;
                @media #{$md} {
                    word-break: break-word;
                    white-space: pre-line;
                    font-size: 16px;
                    line-height: 24px;
                    height: 48px;
                    width: 188px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }
                @media #{$xxl} {
                    white-space: pre;
                    display: block;
                    -webkit-line-clamp: unset;
                    -webkit-box-orient: unset;
                    width: 330px;
                    line-height: 48px;
                    font-size: 32px;
                    
                }
            }
            &:nth-child(3){
                color: #757575;
                overflow: hidden;
                white-space: pre;
                text-overflow: ellipsis;
                display: none;
                @media #{$xxl} {
                    display: block;
                    line-height: 32px;
                    height: 32px;
                    width: 330px;
                }
            }
            &:nth-child(4){
                white-space: pre-line;
                color: #757575;
                Word-break: break-word;
                width: 134px;
                height: 48px;
                font-size: 16px;
                overflow: hidden;
                line-height: 24px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                @media #{$md} {
                    width: 188px;
                    height: 72px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                }
                @media #{$xxl} { 
                    // white-space: nowrap;
                    -webkit-line-clamp: 2;
                    font-size: 24px;
                    line-height: 40px;
                    height: 80px;
                    width: 322px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .recommend-bold-text{
                display: none;
                @media #{$xxl} {
                    width: 120px;
                    display: inline-flex;
                    // width: fit-content;
                }
            }
        }



}
.restaurant-item:hover{
    background-color: #E1d3B6;
}
}
.load-content-text{
    cursor: pointer;
    font-weight: bold;
    align-self: center;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
    @media #{$xxl} {
        margin-bottom: 0;
        font-size: 32px;
        line-height: 40px;
        width: 150px;
        height: 40px;
    }
}
.backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.popup-fixed-box {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
}
.restaurant-popup{
    color: #383838;
    display: flex;
    width: 95%;
    height: 95%;
    font-family: "sukhumvit";
    z-index: 3;
    background-color: #FBF6E9;
    box-sizing: border-box;
    border-radius: 16px;
    position: relative;
    justify-content: center;
    margin: auto;
    padding: 16px 20px 24px;
    border: 2px solid #383838;
    @media #{$md} {
        border: 4px solid #383838;
        max-width: 690px;
        padding: 40px 0 44px ;
    }
    @media #{$xxl} {
        max-height: 832px;
        padding: 40px 60px;
        max-width: 1170px;
    }
    
    .popup-close-icon{
    position: absolute;
    width: 16px;
    height: 16px;
    right:  8px;
    top: 8px;
    @media #{$md} {
        top: 24px;
        right: 24px;
        width: 32px;
        height: 32px;
    }
    }
    .restaurant-flexbox{
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 320px;
    @media #{$md} {
        max-width: 690px;
        padding: 0 60px;
    }
    @media #{$xxl} {
        max-width: 1170px;
        max-height: 800px;
        
    }
    }
    .popup-name-box{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        span {
            &:nth-child(1){
                font-weight: bold;
                text-align: center;
                color: #383838;
                font-size: 16px;
                line-height: 24px;
                @media #{$md} {
                    font-size: 40px;
                    margin-bottom: 8px;
                    line-height: 48px;
                }
                @media #{$xxl} {
                    font-size: 48px;
                    line-height: 56px;
                    
                }
            }
            &:nth-child(2){
                color: #757575;
                font-size: 16px;
                line-height: 24px;
                @media #{$md} {
                    
                    font-size: 24px;
                    line-height: 32px;
                    margin-bottom: 16px;
                }
                @media #{$xxl} {
                    margin-bottom: 8px;
                    
                }
            }
        }
    }

    .location-box{
        font-weight: 500;
        font-size: 16px;
        
        line-height: 20px;
        display: flex;
        width: 280px;
        margin: 0 auto;
        align-items: flex-start;
        justify-content: center;
        span{
            width: 256px;
            @media #{$md} {
                width: auto;
            }
            // display: none;
        }
        @media #{$md} {
            width: 100%;
            font-size: 24px;
            text-align: center;
            line-height: 32px;
            
        }
        img{
            width: 16px;
            height: 16px;
            margin-right: 8px;
            @media #{$md} {
                width: 24px;
                height: 24px;

            }
            @media #{$xxl} {
                margin-right: 16px;
                width: 32px;
                height: 32px;
            }
        }
    }
    .row-box{
        display: flex;
        flex-direction: column;
        margin-top: 39px;

        @media #{$xxl} {
            flex-direction: row;
        }
        .image-box{
            position: relative;
            width: 280px;
            height: 256px;
            margin-bottom: 16px;
            @media #{$md} {
                width: 570px;
                height: 448px;
                margin-bottom: 48px;
            }
            @media #{$xxl} {
                margin-right: 40px;
                width: 485px;
                height: 504px;
            }
            .big-image{
                object-fit: cover;
                width: 280px;
                height: 240px;
                border-radius: 8px;
                @media #{$md} {
                    width: 570px;
                    height: 448px;
                }
                @media #{$xxl} {
                    width: 485px;
                    height: 406px;
                    border-radius: 16px;
                    margin-bottom: 8px;
                    
                }
            }
            .no-image{
                top: 2px;
                object-fit: cover;
                width: 280px;
                height: 240px;
                @media #{$md} {
                   width: 100%; 
                   height: 100%;
                }   
                border-radius: 16px;
                @media #{$xxl} {
                    width: 485px;
                    height: 504px;
                }
            }
            .prev,
            .next {
              cursor: pointer;
              position: absolute;
              top: 35%;
              width: auto;
              padding: 16px;
              color: black;
              font-weight: bold;
              font-size: 20px;
              border-radius: 0 3px 3px 0;
              user-select: none;
              -webkit-user-select: none;
              text-decoration: none;
              margin-top: 0;
              @media #{$md} {
                  top: 45%;
            }
            @media #{$xxl} {
                  top: 40%;
                  
              }

            }
            .next{
                right: 0;
                border-radius: 3px 0 0 3px;
            }
            .prev:hover{
                background-color: rgba(0, 0, 0, 0.8);
                color: wheat;
            }
            .next:hover{
                    background-color: rgba(0, 0, 0, 0.8);
                    color: wheat;
            }
            .dots-list{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 8px;
                width: 100%;
                margin-top: 8px;
                @media #{$xxl} {
                    display: none;
                }
                .dot{
                    border-radius: 50%;
                    margin-right: 8px;
                    width: 4px;
                    height: 4px;
                    background: #757575;
                }
                .active-dot{
                    border-radius: 50%;
                    margin-right: 8px;
                    width: 4px;
                    height: 4px;
                    background: #383838;
                }
            }
            .image-list{
                display: none;
                @media #{$xxl} { 
                    display: flex;
                    overflow-y: auto;
                    width: 485px;
                    
                }
                img{
                    display: flex;
                    object-fit: cover;
                    margin-right: 8px;
                    width: 90px;
                    height: 90px;
                }
            }
        }
        .recommend-box{
            color: #757575;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 8px;
            @media #{$md} {
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 16px;
                width: 570px;
            }
            @media #{$xxl} {
                font-size: 24px;
                line-height: 40px;
                height: 80px;
                width: 485px;
                margin-bottom: 24px;
                
            }
            span{
                word-break: break-word;
                // white-space: pre-wrap;
                // line-break: loose;
            }
        }
        .food-price-box{
            font-size: 16px;
            line-height: 24px;
            display: flex;
            @media #{$md} {
                font-size: 24px;
                line-height: 32px;
                width: 365px;
                margin-bottom: 16px;
            }
            @media #{$xxl} {
                display: block;
                width: 485px;
                font-size: 24px;
                height: 32px;
                
            }
            span{
                width: 96px;
                margin-right: 8px;
                @media #{$md} {
                    width: 170px;
                    margin-right: 14px;
                    b{
                        width: 170px;
                    }
                }
                @media #{$xxl} {
                    width: 138px;
                    margin-right: 50px;
                }
                b{
                    width: 138px;
                }
            }
        }
        .drink-price-box{
            font-size: 16px;
            line-height: 24px;
            display: flex;
            @media #{$md} {
                font-size: 24px;
                line-height: 32px;
                width: 365px;
                margin-bottom: 16px;
            }
            @media #{$xxl} {
                display: block;
                width: 485px;
                height: 32px;
                font-size: 24px;
                margin-bottom: 24px;
                
            }
            span{
                width: 96px;
                margin-right: 8px;
                @media #{$md} {
                    width: 170px;
                }
                @media #{$xxl} {
                    width: 138px;
                    margin: 24px;
                    margin-left: 0;
                }
            }
        }
        .time-box{
            display: flex;
            font-size: 16px;
            line-height: 24px;
            align-items: center;
            margin-bottom: 24px;
            @media #{$md} {
                font-size: 24px;
                line-height: 32px;
            }
            @media #{$xxl} {
                width: 485px;
                height: 32px;
                font-size: 24px;
                
            }
            img{
                width: 16px;
                height: 16px;
                margin-right: 8px;
                @media #{$md} {
                width: 32px;
                height: 32px;
                }
            }
        }
    }
    .service-box{
        display: flex;
        flex-wrap: wrap;
        background: rgba(225, 211, 182, 0.5);
        height: auto;
        width: 280px;
        border-radius: 8px;
        padding: 16px 0;
        justify-content: center;
        @media #{$md} {
            width: 570px;
            padding: 32px 57px ;
        }
        @media #{$xxl} {
            justify-content: flex-start;
            padding: 32px 37px;
            border-radius: 16px;
            width: 485px;
            height: 240px;

        }
    }
    .icon-box{
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        
        // flex-wrap: wrap;
        flex: 0 0 calc((100%)/3);
        @media #{$md} {
            flex: 0 0 calc((100% - 48px)/4);
         width: 120px;
            height: 80;
            margin-right: 16px;
            &:nth-child(4n){
                margin-right: 0;
            }
        }
        @media #{$xxl} {
            width: 121px;
            max-height: 48px;
            flex: 0 0 calc(( 100% )/4);
        }
        img{
            width: 40px;
            height: 40px;
            margin-bottom: 8px;
            @media #{$xxl} {
                width: 48px;
                height: 48px; 
            }
        }
        span {
            margin-bottom: 24px;
            color: #383838;
            font-size: 16px;
            line-height: 24px;
        }
    }
    .contact-box{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 16px;
        @media #{$md} {
            flex-wrap: wrap;
            flex-direction: row;
            margin: 12px auto;
        }
        @media #{$xxl} {
            margin:  0 auto;
            
        }
        // margin-top: 40px;
        .contact-item{
            display: flex;
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            @media #{$md} {
                
                width: auto;
                justify-content: center;
                margin: 12px 24px 0;
                
            }
            img{
                width: 16px;
                height: 16px;
                vertical-align: middle;
                @media #{$md} {
                    width: 24px;
                    height: 24px;
                    
                }
            }

            span{
                margin-left: 8px;
                font-size: 16px;
                line-height: 16px;
                @media #{$md} {
                    line-height: 32px;
                    font-size: 24px;
                }
            }
            .fb-with-link {
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                    font-weight: bolder;
                }
            }

        }
    }
}
